@page "/"
@namespace BlazorDemo.ServerSide.Pages
@using BlazorDemo.ClientSide
@using DevExpress.Blazor.DocumentMetadata
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    @(await Html.RenderStaticComponentAsync<DocumentMetadataComponent>())
</head>
<body>
    <div id="fb-root"></div>
    <app>@(await Html.RenderStaticComponentAsync<App>())</app>
    <script src="_framework/blazor.webassembly.js"></script>
</body>
</html>
