/*BeginHide*/
::deep /*EndHide*/ .btn-icon-undo {
    width: 16px;
    height: 16px;
    -webkit-mask-image: url("images/icons/undo.svg");
    mask-image: url("images/icons/undo.svg");
    background-color: currentColor;
    opacity: 0.7;
}

/*BeginHide*/
::deep /*EndHide*/ .btn-icon-redo {
    width: 16px;
    height: 16px;
    -webkit-mask-image: url("images/icons/redo.svg");
    mask-image: url("images/icons/redo.svg");
    background-color: currentColor;
    opacity: 0.7;
}

/*BeginHide*/
::deep .dxbl-btn {
    vertical-align: middle;
}
/*EndHide*/
