<DemoPageSectionComponent Id="Editors-TextBox-ClearButton" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <label for="tbClearButton" class="demo-text cw-320 mb-1">
            Username
        </label>
        <DxTextBox @bind-Text="@TextValue"
                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                   BindValueMode="BindValueMode.OnInput"
                   NullText="Enter username"
                   SizeMode="Params.SizeMode"
                   CssClass="cw-320"
                   InputId="tbClearButton" />
    </ChildContentWithParameters>

    @code {
        string TextValue { get; set; } = "Nancy Davolio";
    }
</DemoPageSectionComponent>
