/*BeginHide*/::deep /*EndHide*/.icon-square-minus,
/*BeginHide*/::deep /*EndHide*/.icon-square-plus {
    display: inline-block;
    background-color: currentColor;
    width: 16px;
    height: 16px;
}

/*BeginHide*/::deep /*EndHide*/.icon-square-minus {
    -webkit-mask-image: url("images/icons/minus.svg");
    mask-image: url("images/icons/minus.svg");
}

/*BeginHide*/::deep /*EndHide*/.icon-square-plus {
    -webkit-mask-image: url("images/icons/plus.svg");
    mask-image: url("images/icons/plus.svg");
}

/*BeginHide*/::deep /*EndHide*/.dxbl-accordion-group-body > .dxbl-accordion-items-container {
    padding: 0.375rem 0;
 }
