<div class="footer">
    <div class="info-wrapper">
        <div class="version">Version: @DevExpressBlazorVersion</div>
        <div class="copyright">
            <span>Copyright &copy; 2006-</span><span>@DateTimeNowYear</span>
            Developer Express Inc
        </div>
    </div>
</div>
@code {
    static readonly string DevExpressBlazorVersion = typeof(DevExpress.Blazor.Base.DxModel).Assembly.GetName().Version.ToString(3);
    static readonly int DateTimeNowYear = DateTime.Now.Year;
}
