.demo-preloader-card {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.demo-preloader-container {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.demo-preloader {
    height: 64px;
    width: 64px;
    border: 3px transparent solid;
    border-top: 3px currentColor solid;
    border-radius: 50%;
    -webkit-animation: preloader-spin 1s infinite linear;
    animation: preloader-spin 1s infinite linear;
    opacity: 0.5;
}

.demo-preloader:before {
    position: absolute;
    content: "";
    top: -3px;
    left: -3px;
    height: 64px;
    width: 64px;
    opacity: 0.3;
    border: 3px currentColor solid;
    border-top: 3px transparent solid;
    border-radius: 50%;
}

@keyframes preloader-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
