@inject DemoConfiguration Configuration
@inject DemoThemeService Themes

<div class="demo-page">
    <div class="demo-page-content theme-@Themes.ActiveTheme.Name.Replace(" ", "-")">
        @ChildContent
    </div>
    <div class="demo-page-right-container">
        <DemoPageNavPanel />
        <DemoFeedbackPanel />
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    protected override Task OnInitializedAsync() {
        return base.OnInitializedAsync();
    }
}
