/* Demos specific */
body {
    margin: 0;
}

.main {
	overflow-x: auto;
	overflow-x: hidden;
}

.card.demo-card {
    width: 760px;
}

@media(max-width: 1080px) {
    .card.demo-card {
        width: 100%;
    }
}

.mw-480 {
    max-width: 480px;
}

.card-deck.demo > .card {
    min-width: 400px;
    max-width: 800px;
    height: 150px;
    margin-bottom: 15px;
    margin-left: 0px;
}
.card.demo-card-wide > .card-footer:not(.code-header) {
    background-color: #fff;
}
.card.demo-card > .card-footer:not(.code-header) {
    background-color: #fff;
}

.card.demo-card > .card-footer,
.card.demo-card-wide > .card-footer {
    padding-top: 0;
}

.card.demo-card > .card-footer > pre,
.card.demo-card-wide > .card-footer > pre {
    margin: 0;
    padding: 0;
    border: none;
}

.code-header.card-footer {
    background-color: #f5f5f5 !important;
    background-image: none;
}

.code-header.card-footer:not(:first-child) {
    border-top-color: #ebebeb;
    border-top-width: 1px;
}

.code-header.card-footer:first-child {
    border-top: none;
}

.code-header .nav-code {
    position: relative;
    z-index: 1;
}

.code-header > .nav-code .nav-link.active {
    color: #444;
    background-color: #fff;
    border-bottom: 1px solid;
}

.code-header > .nav-code .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
    padding: 0.5rem 1rem;
}

.code-header > .nav-code .nav-link {
    font-size: 0.875rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.code-header.card-footer ~ .card-footer {
    border-top-width: 1px;
    margin-top: -1px;
    border-top-color: #d6d5d5;
    background-color: #f5f5f5!important;
} 

.hljs {
    background-color: transparent;
}

.hljs-name,
.hljs-attr,
.hljs-tag,
code.hljs.xml {
    color: #800080 !important;
}

.main {
    min-width: 0;
    display: inline-flex;
    flex-direction: column;
}

.main .top-row {
    z-index: 10000;
    padding-right:0!important;
    box-shadow: none;
}

.main .top-row .caption {
    color: inherit;
}

.top-row {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
}

.sidebar > .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid #d6d5d5;
    border-radius: 0 !important;
    z-index: 1000;
}

.logo-container .logo-image {
    width: 180px;
    height: 30px;
    margin-left: 16px;
    background-color: currentColor;
    mask-image: url("../images/logo.svg");
    -webkit-mask-image: url("../images/logo.svg");
}

div.logo {
    padding-top: 10px;
    float: left;
    width: 100%;
}

.caption {
    color: #212529;
}

.sidebar .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-bottom: 12px;
}

    .sidebar .footer .version,
    .sidebar .footer .copyright {
        font-size: 11px;
    }

div.content > .card:last-child {
    margin-bottom: 50px;
}

.card-footer.text-muted > .dxbs-spin-edit {
    display: inline-block;
    width: 100px;
}

/*Mac OS Safari does not support position:sticky*/
@media (min-width: 768px) {
    _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root .main {
        margin-left: 300px;
        /*margin-top: 56px;*/
    }

    _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root .main .top-row {
        position: fixed;
        /*width: 100%;*/
    }

    _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root .sidebar {
        position: fixed;
    }
}

.online-only-warrning {
    margin-top: 32px;
    margin-bottom: 40px;
    padding: 16px 16px 0 66px;
    max-width: 1024px;
}

.online-only-warrning > img {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 21px;
    left: 16px;
}

.online-only-warrning .info-caption {
    font-size: 16px;
    margin-bottom: 2px;
}

.online-only-warrning .info-description {
    font-size: 14px;
    margin-bottom: 16px;
}

.demo-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 9px!important;
    margin-left: -3px!important;
    background-color: currentColor;
}
.demo-icon-expand,
.demo-icon-collapse {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: currentColor;
}
.demo-icon-collapse {
    mask-image: url("../images/CollapseButton.svg");
    -webkit-mask-image: url("../images/CollapseButton.svg");
}
.demo-icon-expand {
    mask-image: url("../images/ExpandButton.svg");
    -webkit-mask-image: url("../images/ExpandButton.svg");
}
.demo-icon-overview {
    mask-image: url("../images/Overview.svg");
    -webkit-mask-image: url("../images/Overview.svg");
}
.demo-icon-grid {
    mask-image: url("../images/GridView.svg");
    -webkit-mask-image: url("../images/GridView.svg");
}
.demo-icon-pivotgrid {
    mask-image: url("../images/PivotGrid.svg");
    -webkit-mask-image: url("../images/PivotGrid.svg");
}
.demo-icon-treeview {
    mask-image: url("../images/TreeView.svg");
    -webkit-mask-image: url("../images/TreeView.svg");
}
.demo-icon-formlayout {
    mask-image: url("../images/FormLayout.svg");
    -webkit-mask-image: url("../images/FormLayout.svg");
}
.demo-icon-editform-validation {
    mask-image: url("../images/EditFormValidation.svg");
    -webkit-mask-image: url("../images/EditFormValidation.svg");
}
.demo-icon-toolbar {
    mask-image: url("../images/Toolbar.svg");
    -webkit-mask-image: url("../images/Toolbar.svg");
}
.demo-icon-tabs {
    mask-image: url("../images/Tabs.svg");
    -webkit-mask-image: url("../images/Tabs.svg");
}
.demo-icon-editors {
    mask-image: url("../images/Editors.svg");
    -webkit-mask-image: url("../images/Editors.svg");
}
.demo-icon-pager {
    mask-image: url("../images/Pager.svg");
    -webkit-mask-image: url("../images/Pager.svg");
}

.demo-description {
    max-width: 1024px;
}
.demo-description:not(:first-child) > h2 {
    margin-top: 32px;
}

.demo-description > h2 {
    margin-bottom: 24px;
}

.main > div.social-panel {
    padding-left: 0 !important;
}

.social-panel {
    border-bottom: 1px solid #DEDEDE;
    font-size: 15px;
    font-weight: 600;
    padding-top: 16px;
    padding-bottom: 18px;
    margin-left: 32px;
    margin-right: 32px;
}

.social-panel .sp-caption {
}

.fb_iframe_widget iframe {
    vertical-align: text-bottom;
}

.twitter-share-button[style] {
    vertical-align: bottom !important;
}

.sidebar .navbar-toggler {
    border: 0;
    padding: 0;
    margin-left: 16px;
}
.sidebar .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33,33,33, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: white !important;
    width: 44px;
    height: 40px;
    border-radius: 3px;
}

.badge.demo-badge {
    border-radius: 0.25rem !important;
    vertical-align: super;
    margin-left: 0.5em;
    font-size: 35%;
    padding-left: 0.4em;
    padding-right: 0.4em;
}