@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('switcher-resources/themes.css');
@import url('switcher-resources/theme-switcher.css');

app {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row.navbar-dark .navbar-toggler {
    outline: none;
    height: 3.5rem;
    border-radius: 0;
    text-align: center;
    padding-left: .75rem;
    padding-right: .75rem;
}

.top-row.navbar-dark .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: transparent !important;
    height: 2rem; 
    width: 2rem;
}

.icon {
    display: inline-block;
    text-rendering: auto;
    font-family: "demo-icons" !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.icon-settings:before {
    content: "\E01B";
}

.main {
    flex: 1;
}

.sidebar {
    padding-top: 3.5rem;
    border: none;
}

.sidebar {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16); 
    border: none;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.app-sidebar > .nav-pills > .nav-item:first-of-type {
    padding-top: 1rem;
}

.app-sidebar > .nav-pills > .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.app-sidebar .nav-pills > .nav-item a {
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.app-sidebar > .nav-pills > .nav-item > a {
    font-size: 1rem !important;
    padding: .5rem 1rem;
    font-weight: 600!important;
}

.app-sidebar > .nav-pills > .nav-item > a[aria-expanded] ~ ul {
    margin: 0;
}

.app-sidebar .nav-pills > .nav-item a:not(.active) {
    color: inherit !important;
}

.app-sidebar .nav-pills .nav-item .nav-link > span:not(.expand-btn):not(.image):not(.badge) {
    flex: 1;
}

.app-sidebar .nav-pills .nav-item .nav-link > span.expand-btn {
    margin-right: 9px;
}

.app-sidebar .nav-pills .nav-item .nav-link > span.badge {
    flex: 0;
    border-radius: 0.25rem!important;
    min-width: 2.7em;
}

.dxbs-tree.app-sidebar > ul.nav ul.nav {
    margin: 0!important;
}

.dxbs-tree.app-sidebar > ul.nav ul.nav .nav-item {
    padding-bottom: 0;
}

.dxbs-tree.app-sidebar > ul.nav ul.nav .nav-link {
    font-size: 0.825rem;
    font-weight: 400;
    padding: 0.25rem 1rem 0.25rem 2rem;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 1199.98px) {
    .top-row {
        position: static !important;
    }
    .main,
    .sidebar {
        padding-top: 0 !important;
    }
    .sidebar {
        display: none;
    }
}

.main {
    padding-top: 3.5rem;
}

.navbar.top-row {
    justify-content: flex-start;
}

.navbar.top-row .demo-btn-container {
    margin-left: auto;
}

@media (min-width: 1200px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
        display: flex;
        flex-flow: column nowrap;
    }

    .sidebar .footer {
        display: block!important;
    }

    .main .footer {
        display: none;
    }

    .sidebar > div {
        flex: 1 1 auto;
    }

    #settingsbar {
        height: 100vh;
        position: fixed;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .sidebar > .logo-container {
        justify-content: flex-start!important;
    }
}

.download-btn.navbar-toggler {
    padding: calc((3.5rem - 22px)/2)!important;
}
.demo-download-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: currentColor;
    mask-image: url("../images/download.svg");
    -webkit-mask-image: url("../images/download.svg");
}

.demo-theme-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: currentColor;
    mask-image: url("../images/theme.svg");
    -webkit-mask-image: url("../images/theme.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.demo-products .row > div {
    margin-bottom: 2rem;
}

.demo-products .demo-product {
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    height: 100%;
    margin: 0;
}
.demo-products .demo-product:hover {
    transform: translate(0, -6px);
    transition: all .2s ease-out;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.1) !important;
}

.demo-products .demo-product .demo-product-info {
    display: inline-block;
    font-size: 13px;
}
.demo-product-icon {
    width: 40px;
    height: 40px;
}
.demo-product-icon-grid {
    mask-image: url("../images/landing/DataGrid.svg");
    -webkit-mask-image: url("../images/landing/DataGrid.svg");
}
.demo-product-icon-pivot {
    mask-image: url("../images/landing/PivotGrid.svg");
    -webkit-mask-image: url("../images/landing/PivotGrid.svg");
}
.demo-product-icon-charts {
    mask-image: url("../images/landing/Charts.svg");
    -webkit-mask-image: url("../images/landing/Charts.svg");
}
.demo-product-icon-scheduler {
    mask-image: url("../images/landing/Scheduler.svg");
    -webkit-mask-image: url("../images/landing/Scheduler.svg");
}
.demo-product-icon-editors {
    mask-image: url("../images/landing/Editors.svg");
    -webkit-mask-image: url("../images/landing/Editors.svg");
}
.demo-product-icon-navigation {
    mask-image: url("../images/landing/Navigation.svg");
    -webkit-mask-image: url("../images/landing/Navigation.svg");
}
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }