<DemoPageSectionComponent Id="Editors-DateEdit-Overview" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <DxDateEdit @bind-Date="@DateTimeValue"
                    SizeMode="Params.SizeMode"
                    CssClass="cw-320" />
        <p class="demo-text cw-320 mt-2">
            Date: <b>@DateTimeValue.ToString("dddd, dd MMMM yyyy")</b>
        </p>
    </ChildContentWithParameters>

    @code {
        DateTime DateTimeValue { get; set; } = DateTime.Now;
    }
</DemoPageSectionComponent>
