@page "/Grid/Selection/SelectionColumn"
@layout DataProviderAccessArea<INwindDataProvider>

<DemoPageSectionComponent Id="Grid-Selection-SelectionColumn" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        @inject NwindDataService NwindDataService

        <DxGrid Data="Products"
                KeyFieldName="ProductId"
                @bind-SelectedDataItems="SelectedDataItems"
                SizeMode="Params.SizeMode" KeyboardNavigationEnabled="true"
                SelectAllCheckboxMode="CurrentSelectAllCheckboxMode">
            <Columns>
                <DxGridSelectionColumn Width="104px" />
                <DxGridDataColumn FieldName="ProductName" MinWidth="100" />
                <DxGridDataColumn FieldName="CategoryId" Caption="Category" MinWidth="100">
                    <EditSettings>
                        <DxComboBoxSettings Data="Categories" ValueFieldName="CategoryId" TextFieldName="CategoryName" />
                    </EditSettings>
                </DxGridDataColumn>
                <DxGridDataColumn FieldName="UnitPrice" DisplayFormat="c" Width="10%" />
                <DxGridDataColumn FieldName="UnitsInStock" Width="10%" />
                <DxGridDataColumn FieldName="QuantityPerUnit" Width="15%" MinWidth="80" />
                <DxGridDataColumn FieldName="Discontinued" Width="10%" MinWidth="90" />
            </Columns>
        </DxGrid>
        <p class="demo-text w-100 mt-2">The number of selected products: <b>@(SelectedDataItems.Count())</b></p>

        @code {
            IEnumerable<Product> Products { get; set; }
            IReadOnlyList<Category> Categories { get; set; }
            IReadOnlyList<object> SelectedDataItems { get; set; }
            IEnumerable<GridSelectAllCheckboxMode> SelectAllCheckboxModes { get; } = Enum.GetValues<GridSelectAllCheckboxMode>();
            GridSelectAllCheckboxMode CurrentSelectAllCheckboxMode { get; set; }

            protected override async Task OnInitializedAsync() {
                Categories = (await NwindDataService.GetCategoriesAsync()).ToList();
                Products = await NwindDataService.GetProductsAsync();
                SelectedDataItems = Products.Where(x => x.UnitPrice > 30).ToList();
            }
        }
    </ChildContentWithParameters>
    <OptionsContent>
        <OptionComboBox Label="Select All Checkbox Mode:" Data="SelectAllCheckboxModes" @bind-Value="@CurrentSelectAllCheckboxMode" CssClass="ow-180" />
    </OptionsContent>
</DemoPageSectionComponent>
