/* Theme switch button*/
.theme-settings:not(.True) {
    border-width: 0px !important;
}

.theme-settings.True,
.theme-settings-collapsed.True {
    background-color: #fff!important;
    color: #222!important;
}

.theme-settings a {
    position: relative;
    transform: scale(1);
    height: 3.5rem;
    display: inline-block;
}

.theme-settings.True a {
    color: inherit !important;
    background-color: transparent!important;
}

.theme-settings a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: currentColor;
    opacity: .2;
}

.theme-settings a,
.theme-settings a:hover,
.theme-settings a:active,
.theme-settings a:focus {
    color: inherit!important;
    background: transparent!important;
}
.theme-settings a:hover:before {
    opacity: 1;
}
.theme-settings a:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    height: 100%;
    width: calc(100% - 1px);
    z-index: -1;
    background-color: currentColor;
    opacity: 1;
}
.theme-settings a:hover > span {
    opacity: .9;
    color: #fff;
}

#settingsbar {
    transition: width 200ms;
    position: absolute;
    right: 0;
    background-color: #fff; /*var(--light);*/
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.24);
    color: #666;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 0 !important;
    width: 310px;
    height: 100%;
    z-index: 30;
    overflow-y: visible;
    top: 3.5rem;
}

#themesMenu {
}

@media (min-width: 1200px) {
    #themesMenu {
    }
}

#themesMenu ul {
    columns: 2;
    margin-bottom: 1rem;
}

#themesMenu li {
    width: 50%;
}

#themesMenu li > a {
    white-space: nowrap;
    font-weight: 500;
    border-radius: 0;
    border: 0;
    padding: 12px 12px 8px 22px;
}

#themesMenu li > a:not(.active) {
    background-image: none;
}

#themesMenu li > a:not(.active):hover {
    background: #e8e8e8;
}

#themesMenu .nav-item {
    margin-right: 0;
    padding-bottom: 0;
}

#themesMenu {
    font-size: 14px;
    min-width: 300px;
}

#themesMenu .nav {
    font-size: 14px;
}

#themesMenu li > a:not(.active) {
    color: #a9a9a9;
}

#themesMenu li.theme-group {
    font-weight: 600;
    font-size: 15px;
    padding: 7px 12px 8px;
    white-space: nowrap;
    width: 100% !important;
    border-color: #E9E9EA;
    border-style: solid;
    border-width: 1px 0;
}

#themesMenu li.theme-group:first-child {
    border-top-width: 0;
    padding-top: 11px;
    padding-bottom: 8px;
}

#settingsbar * {
    text-shadow: none;
    letter-spacing: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#settingsbar h5 {
    color: #666;
    padding-left: 1em;
}

#settingsbar #themesMenu li > a > .image {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 16px;
    border: 1px solid #fff;
}

.theme-slate #themesMenu .nav-item > .nav-link.active {
    background: #484e55;
}

.theme-settings-collapsed > a,
.theme-settings > a {
    padding: 15px 16px 9px 16px;
    line-height: 24px;
    margin: 0;
}

.theme-settings .oi.oi-cog,
.theme-settings-collapsed .oi.oi-cog {
    font-size: 1.5rem;
    width: auto;
}

.theme-settings .oi.oi-cog {
    letter-spacing: 0;
}

.theme-settings > a,
.theme-settings-collapsed > a {
    color: inherit !important;
}

.theme-settings-collapsed {
    height: 100%;
}
.theme-settings-collapsed > a {
    margin: 0 !important;
    background: none !important;
}

@media (min-width: 1200px) {
    .theme-settings-collapsed {
        display: none;
    }
}

#settingsbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#settingsbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#settingsbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*Theme reset*/
.logo > h5 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: initial;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: inherit;
}

.sidebar .nav-pills .nav-item {
    margin: 0;
}

.sidebar .app-sidebar span.badge {
    font-weight: 400;
}

.sidebar .nav-pills .nav-item .nav-link {
    padding: .5rem 1rem;
}

.app-sidebar .nav-pills > .nav-item > a:not(.active) {
    background-image: none !important;
}

.app-sidebar .nav-pills > .nav-item > a {
    border: none !important;
}

.app-sidebar .badge {
    margin: 0;
    border: 0 !important;
    padding: 3px 4px;
    color: #fff !important;
    background-color: #6c757d !important;
    font-size: 0.75rem;
}

.sidebar {
    font-size: 1rem !important;
}

.sidebar .logo-container {
    font-size: 16px !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400 !important;
    line-height: 24px;
    box-shadow: none;
    text-shadow: none;
}

#themesMenu .nav-link {
    font-size: 14px;
}

#themesMenu .nav-link span {
    line-height: 22px;
}

.sidebar *, #themesMenu * {
    text-transform: none;
    letter-spacing: 0;
}

#settingsbar.hidden-settings-bar {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

#themesMenu .theme-name {
    text-transform: capitalize;
}
