.flipping-overflow-container {
    display: block;
    overflow: auto;
    width: 280px;
    height: 280px;
}
.flipping-overflow-content {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
