@keyframes show_theme_switcher {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

#themesMenu.card {
    border-radius: 0;
    border: none;
}
#themesMenu,
#themesMenu div,
#themesMenu .list-group,
#themesMenu .themeswitcher-group {
    background-color: inherit;
}
#themesMenu .list-group {
    flex-flow: row wrap;
    border: none;
    color: inherit;
}
#themesMenu .list-group-item {
    flex: 1 0 100%;
    font-size: 1em;
    white-space: nowrap;
    text-transform: capitalize;
    padding: .5rem .75rem;
    border-radius: 0 !important;
}
#themesMenu .list-group-item-action:not(.active):not(:hover) {
    background: none;
}
#themesMenu .list-group-item-action {
    flex: 1 0 50%;
    max-width: 50%;
    font-weight: 500;
    border-color: transparent;
}
#themesMenu .themeswitcher-group {
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 3;
    color: inherit;
    border: none;
    margin-bottom: 0;
}
#themesMenu .themeswitcher-group:not(:first-child):before,
#themesMenu .themeswitcher-group::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    border-top: 1px solid currentColor;
    opacity: 0.15;
}
#themesMenu .themeswitcher-group:not(:first-child):before {
    top: 0;
}
#themesMenu .themeswitcher-group::after {
    bottom: 0;
}
#themesMenu .themeswitcher-item > span {
    opacity: 0.8;
}
#themesMenu a.list-group-item-action:before {
    content: "";
    display: inline;
    margin: 0 .75rem 0 .5rem;
    padding-right: 1.2em;
}
#themesMenu a:before {
    border: 1px solid #fff;
}
.theme-settings {
    width: 2.125rem;
    height: 2.125rem;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 0.5rem 0 0.25rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: calc(0.5rem - 1px);
    padding-right: calc(0.5rem - 1px);
}
