/* Demos specific */
body {
    margin: 0;
}

.main {
	overflow-x: auto;
	overflow-x: hidden;
}

.card.demo-card {
    width: 760px;
}

.demo-card,
.demo-card-wide,
.card.code-snippet,
.demo-description+div {
    margin-top: 2rem;
}

@media(max-width: 1080px) {
    .card.demo-card {
        width: 100%;
    }
}

.mw-480 {
    max-width: 480px;
}
.mw-1100 {
    max-width: 1100px;
}

.card-deck.demo > .card {
    min-width: 400px;
    max-width: 800px;
    height: 150px;
    margin-bottom: 15px;
    margin-left: 0px;
}
.card.demo-card-wide > .card-footer:not(.code-header) {
    background-color: #fff;
}
.card.demo-card > .card-footer:not(.code-header) {
    background-color: #fff;
}

.card.demo-card > .card-footer,
.card.demo-card-wide > .card-footer {
    padding-top: 0;
}

.card.demo-card > .card-footer > pre,
.card.demo-card-wide > .card-footer > pre {
    margin: 0;
    padding: 0;
    border: none;
}

.card.code-snippet {
    overflow: hidden;
}

.code-header.card-footer {
    background-color: #f5f5f5 !important;
    background-image: none;
}

.code-header.card-footer:not(:first-child) {
    border-top-color: #ebebeb;
    border-top-width: 1px;
}

.code-header.card-footer:first-child {
    border-top: none;
}

.code-header .nav-code {
    position: relative;
    z-index: 1;
}

.code-header > .nav-code .nav-link {
    color: #444;
}

.code-header > .nav-code .nav-link.active {
    background-color: #fff;
    border-bottom: 1px solid;
}

.code-header > .nav-code .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
    padding: 0.5rem 1rem;
}

.code-header > .nav-code .nav-link {
    font-size: 0.875rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.code-header.card-footer ~ .card-footer {
    border-top-width: 1px;
    margin-top: -1px;
    border-top-color: #d6d5d5;
    background-color: #f5f5f5!important;
}

.code-header-tabs {
    padding-bottom: 1px;
}
.code-header-tabs .nav-tabs {
    border-bottom-color: #d6d5d5;
}

.hljs {
    background-color: transparent;
}

.hljs-name,
.hljs-attr,
.hljs-tag,
code.hljs.xml {
    color: #800080 !important;
}

.main {
    min-width: 0;
    display: inline-flex;
    flex-direction: column;
}

.top-row {
    border: none;
    background-color: inherit;
    border-radius: 0;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
}

.sidebar > .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid #d6d5d5;
    border-radius: 0 !important;
    z-index: 1000;
}

.logo-container .logo-image {
    background-color: currentColor;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    cursor: pointer;
    margin-left: 16px;
    width: 180px;
    height: 30px;
    mask-image: url("../images/logo.svg");
    -webkit-mask-image: url("../images/logo.svg");
}

@media (max-width: 359.98px) {
    .logo-container .logo-image {
        width: 28px;
        height: 28px;
        mask-image: url("../images/logo-xs.svg");
        -webkit-mask-image: url("../images/logo-xs.svg");
    }
}

div.logo {
    padding-top: 10px;
    float: left;
    width: 100%;
}

.caption {
    color: #212529;
}

.footer {
    padding-bottom: 12px;
}

.footer .version,
.footer .copyright {
    font-size: 11px;
}

.sidebar .footer {
    display: none;
    padding-top: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    position: relative;
}

.sidebar .blazor-scroll-view:not(.dx-scrollview) {
    height: calc(100% - 56px);
    overflow: hidden;
}

.sidebar .footer:before {
    content: "";
    border-top-width: 1px;
    border-top-color: currentColor;
    border-top-style: solid;
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main .footer {
    padding-left: 1.5rem;
    padding-top: 1.1rem;
}

div.content > .card:last-child {
    margin-bottom: 50px;
}

.card-footer.text-muted > .dxbs-spin-edit {
    display: inline-block;
    width: 100px;
}

/*Mac OS Safari does not support position:sticky*/
@media (min-width: 1200px) {
    _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root .main {
        margin-left: 300px;
        /*margin-top: 56px;*/
    }

    _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root .main .top-row {
        position: fixed;
        /*width: 100%;*/
    }

    _:-webkit-full-screen, _::-webkit-full-page-media, _:future, :root .sidebar {
        position: fixed;
    }
}

.online-only-warrning {
    margin-top: 32px;
    margin-bottom: 40px;
    padding: 16px 16px 0 66px;
    max-width: 1024px;
}

.online-only-warrning > img {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 21px;
    left: 16px;
}

.online-only-warrning .info-caption {
    font-size: 16px;
    margin-bottom: 2px;
}

.online-only-warrning .info-description {
    font-size: 14px;
    margin-bottom: 16px;
}

.demo-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 9px!important;
    margin-left: -3px!important;
    background-color: currentColor;
}
.demo-icon-expand,
.demo-icon-collapse {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: currentColor;
}
.demo-icon-collapse {
    mask-image: url("../images/CollapseButton.svg");
    -webkit-mask-image: url("../images/CollapseButton.svg");
}
.demo-icon-expand {
    mask-image: url("../images/ExpandButton.svg");
    -webkit-mask-image: url("../images/ExpandButton.svg");
}
.demo-icon-overview {
    mask-image: url("../images/Overview.svg");
    -webkit-mask-image: url("../images/Overview.svg");
}
.demo-icon-grid {
    mask-image: url("../images/GridView.svg");
    -webkit-mask-image: url("../images/GridView.svg");
}
.demo-icon-pivotgrid {
    mask-image: url("../images/PivotGrid.svg");
    -webkit-mask-image: url("../images/PivotGrid.svg");
}
.demo-icon-treeview {
    mask-image: url("../images/TreeView.svg");
    -webkit-mask-image: url("../images/TreeView.svg");
}
.demo-icon-formlayout {
    mask-image: url("../images/FormLayout.svg");
    -webkit-mask-image: url("../images/FormLayout.svg");
}
.demo-icon-editform-validation {
    mask-image: url("../images/EditFormValidation.svg");
    -webkit-mask-image: url("../images/EditFormValidation.svg");
}
.demo-icon-toolbar {
    mask-image: url("../images/Toolbar.svg");
    -webkit-mask-image: url("../images/Toolbar.svg");
}
.demo-icon-tabs {
    mask-image: url("../images/Tabs.svg");
    -webkit-mask-image: url("../images/Tabs.svg");
}
.demo-icon-editors {
    mask-image: url("../images/Editors.svg");
    -webkit-mask-image: url("../images/Editors.svg");
}
.demo-icon-pager {
    mask-image: url("../images/Pager.svg");
    -webkit-mask-image: url("../images/Pager.svg");
}
.demo-icon-info {
    width: 20px;
    height: 20px;
    mask-image: url("../images/Info.svg");
    -webkit-mask-image: url("../images/Info.svg");
}

.demo-description:not(:first-child) > h2 {
    margin-top: 32px;
}

.demo-description > h2 {
    margin-bottom: 24px;
}

.demo-description .demo-anchor {
    opacity: 0;
    transition: opacity 150ms;
    width: 1.5rem;
    margin-left: -1.5rem;
    display: inline-block;
    text-decoration: none !important;
    text-align: center;
}

.demo-description .demo-anchor:before {
    content: "#";
}

@media (min-width: 1200px) {
    .demo-description .demo-anchor {
        width: 2rem;
        margin-left: -2rem;
    }
}

.demo-description > h1:hover .demo-anchor,
.demo-description > h2:hover .demo-anchor {
    opacity: 1;
}

.badge.demo-badge {
    border-radius: 0.25rem !important;
    vertical-align: super;
    margin-left: 0.5em;
    font-size: 35%;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.demo-charts-seriestypes.card-deck > .card {
    min-width: 380px;
}
.demo-charts-seriestypes.card-deck > .card > .card-body:first-child {
    align-items: baseline;
}
.demo-charts-seriestypes.card-deck .dx-listbox-scrollable {
    max-height: none !important;
}

.target-container:before {
    content: "Click to show popup";
    text-transform: uppercase;
    line-height: 190px;
}
.target-container {
    height: 200px;
    text-align: center;
    cursor: pointer;
}
.custom-popup .modal-header {
    padding: 0;
}
.custom-popup .custom-header {
    padding: 0.3rem 0;
    font-size: 1.4rem;
    justify-content: right;
    display: flex;
    align-items: center;
}
.custom-popup .demo-icon-info {
    margin: 0 0.5rem 0 0.6rem;
}
.custom-popup .custom-header .close-button {
    font-size: 0.9rem;
    margin-left: auto;
    margin-bottom: 0.2rem;
    margin-right: 0.9rem;
}
.custom-popup .modal-body {
    padding-top: 0.6rem;
}

a.helplink {
    text-decoration: underline;
}

.demo-checkBox {
    width: 191px;
    height: 191px;
    border-radius: 20px;
    box-shadow: 0px 2px 12px 0 rgba(0, 0, 0, 0.3);
    background-color: #fcfcfc;
}

.flexBox, .demo-checkBox, .gradientCircle, .borderContainer, .boxLabel, .borderCyrcle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLabel {
    opacity: 0.5;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #212529;
}

.borderCyrcle, .borderContainer {
    position: absolute;
    width: 152px;
    height: 152px;
}

.borderCyrcle {
    border-radius: 100%;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.32);
    border: solid 6px rgba(0, 0, 0, 0.1);
}

.gradientCircle {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.32);
    background-image: linear-gradient(to bottom, #bc91ff, #593196);
    transform: rotate(-45deg);
}

.centerCircle {
    position: absolute;
    border-radius: 100%;
    width: 74px;
    height: 74px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.42), inset 0px 10px 16px 0 rgba(0, 0, 0, 0.1);
    border: solid 8px #ffffff;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.roundMarkerHigh, .roundMarkerMedium, .roundMarkerLow {
    position: relative;
    left: 83%;
    top: 47%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
}

.roundMarkerMedium {
    opacity: 0.75;
    border: solid 3px #ffffff;
    background-color: #ffffff00;
}

.roundMarkerLow {
    opacity: 0.75;
    border: solid 1px #ffffff;
    background-color: #ffffff00;
}

.marker {
    position: absolute;
    left: 60%;
    top: 49.5%;
    width: 14px;
    height: 4px;
    border-radius: 2px;
    background-color: #212529;
}

.light {
    width: 100%;
    border-top: 50px solid transparent;
    border-right: 100px solid white;
    border-bottom: 50px solid transparent;
    opacity: 0.2;
}

@keyframes turn90 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}

@keyframes turn180 {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

@keyframes turn0 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.markerContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}

.undo {
    width: 16px;
    height: 16px;
    background-image: url("../images/undo.svg");
    margin: 0 8px 0 0;
}

.redo {
    width: 16px;
    height: 16px;
    background-image: url("../images/redo.svg");
    margin: 0 0 0 8px;
}

.like {
    height: 16px;
    width: 16px;
    background-image: url("../images/like.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-right: 8px;
}

.app-sidebar .nav-pills .nav-item.dx-badge-preview .nav-link > span.badge {
    min-width: inherit;
    font-weight: 700;
    color: #212529 !important;
    background-color: #ffc107 !important;
}

.datagrid-border-radius-top-0 > .card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.custom-drop-zone {
    padding: 0 !important;
    border-style: dashed !important;
    border-width: 2px !important;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.custom-drop-zone.custom-drag-over {
    background-color: #868A8D;
}
.custom-drop-zone img {
    width: 42px;
    height: 42px;
}

.medium-chart-container {
    margin: 16px;
}

.medium-chart-container .dxc-arg-elements text {
    font-weight: 600 !important;
}

.dx-chart {
    margin: 0 15px;
}

.rotated-chart .dx-chart {
    margin-bottom: 50px;
}

.medium-chart-container.rotated-chart .dx-chart {
    height: 250px;
    min-height: 250px;
}
