@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('switcher-resources/themes.css');
@import url('switcher-resources/theme-switcher.css');

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.icon {
    display: inline-block;
    text-rendering: auto;
    font-family: "demo-icons" !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.icon-settings:before {
    content: "\E01B";
}

.main {
    flex: 1;
}

.main .top-row {
    border-bottom: 1px solid #d6d5d5;
}

.sidebar > div:not(.top-row) {
    border-bottom: 1px solid #d6d5d5;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.app-sidebar > .nav-pills > .nav-item:first-of-type {
    padding-top: 1rem;
}

.app-sidebar > .nav-pills > .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.app-sidebar .nav-pills > .nav-item a {
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.app-sidebar > .nav-pills > .nav-item > a {
    font-size: 1rem !important;
    padding: .5rem 1rem;
    font-weight: 600!important;
}

.app-sidebar > .nav-pills > .nav-item > a[aria-expanded] ~ ul {
    background-color: rgba(0,0,0,.08);
    margin: 0;
}

.app-sidebar .nav-pills > .nav-item a:not(.active) {
    color: inherit !important;
}

.app-sidebar .nav-pills .nav-item .nav-link > span:not(.expand-btn):not(.image):not(.badge) {
    flex: 1;
}

.app-sidebar .nav-pills .nav-item .nav-link > span.expand-btn {
    margin-right: 9px;
}

.app-sidebar .nav-pills .nav-item .nav-link > span.badge {
    flex: 0;
    border-radius: 0.25rem!important;
    min-width: 2.7em;
}

.dxbs-tree.app-sidebar > ul.nav ul.nav {
    margin: 0;
}

.dxbs-tree.app-sidebar > ul.nav ul.nav .nav-item {
    padding-bottom: 0;
}

.dxbs-tree.app-sidebar > ul.nav ul.nav .nav-link {
    font-size: 0.875rem;
    padding-left: 3rem;
    font-weight: 400;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    /*background-color: rgba(255, 255, 255, 0.1);*/
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 1199.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 1200px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
        display: flex;
        flex-flow: column nowrap;
    }

    .sidebar .top-row {
        flex: 0 0 auto;
    }

    .sidebar > div:not(.top-row) {
        flex: 1 1 auto;
        border-bottom: none;
        border-right: 1px solid #d6d5d5;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.24);
    }

    .main {
        padding-top: 3.5rem;
    }

    .main .top-row {
        position: fixed;
        top: 0;
        width: calc(100% - 300px);
    }

    #settingsbar {
        height: 100vh;
        position: fixed;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block !important;
    }
}
