<DemoPageSectionComponent Id="Navigation-TreeView-MasterDetailDataBinding">
    @inject ProductsFlatService ProductsFlatService

    @if(Data == null) {
        <p><em>Loading...</em></p>
    }
    else {
        <div class="cw-320">
            <DxTreeView Data="@Data">
                <DataMappings>
                    <DxTreeViewDataMapping Text="Name"
                                           Key="Id"
                                           ParentKey="CategoryId" />
                </DataMappings>
            </DxTreeView>
        </div>
    }

    @code {
        IEnumerable<FlatDataItem> Data;

        protected override async Task OnInitializedAsync() {
            IEnumerable<ProductFlat> products = await ProductsFlatService.GetProductsAsync();
            IEnumerable<ProductCategory> productSubcategories = await ProductsFlatService.GetCategoriesAsync();
            List<FlatDataItem> data = new List<FlatDataItem>(Enum.GetValues<ProductCategoryMain>().Select(i => new FlatDataItem() { Name = i.ToString(), Id = i }));
            data.AddRange(products.Select(i => new FlatDataItem() { Name = i.ProductName, Id = i.Id, CategoryId = i.ProductCategoryId }));
            data.AddRange(productSubcategories.Select(i => new FlatDataItem() { Name = i.Subcategory, Id = i.SubcategoryID, CategoryId = i.Category }));
            this.Data = data;
        }
    }
</DemoPageSectionComponent>
