/*BeginHide*/::deep /*EndHide*/.demo-treeview-template .nav-pills .nav-pills {
    margin-left: 0 !important;
}

.demo-treeview-template h5 {
    margin-bottom: .1rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
}

.demo-treeview-template .treeview-template-icon {
    padding: 5px;
    width: 30px;
    height: 30px;
}

.demo-treeview-template .treeview-expand-btn {
    background-color: currentColor;
    width: 0.7em;
    height: 0.7em;    
}

.demo-treeview-template .treeview-expand-btn.expanded {
    -webkit-mask-image: url("images/icons/chevron-down.svg");
    mask-image: url("images/icons/chevron-down.svg");

}

.demo-treeview-template .treeview-expand-btn.collapsed {
    -webkit-mask-image: url("images/icons/chevron-right.svg");
    mask-image: url("images/icons/chevron-right.svg");
}
