@{
    var message = GetMessage();
}
<div class="d-flex align-items-center">
    @ChildContent
    @if(!string.IsNullOrWhiteSpace(message)) {
        <div class="grid-validation-message bg-danger" title="@message"></div>
    }
</div>

@code {
    [Parameter]
    public GridDataColumnCellEditTemplateContext EditTemplateContext { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    string GetMessage() {
        var field = EditTemplateContext.EditContext.Field(EditTemplateContext.DataColumn.FieldName);
        return string.Join("\n", EditTemplateContext.EditContext.GetValidationMessages(field));
    }
}
