/*BeginHide*/::deep /*EndHide*/.grid-toolbar-new,
/*BeginHide*/::deep /*EndHide*/.grid-toolbar-edit,
/*BeginHide*/::deep /*EndHide*/.grid-toolbar-delete,
/*BeginHide*/::deep /*EndHide*/.grid-toolbar-refresh,
/*BeginHide*/::deep /*EndHide*/.grid-toolbar-filter-row,
/*BeginHide*/::deep /*EndHide*/.grid-toolbar-document {
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
    height: 16px;
    width: 16px;
    opacity: 0.7;
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-new {
    -webkit-mask-image: url("images/icons/grid-toolbar-new.svg");
    mask-image: url("images/icons/grid-toolbar-new.svg");
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-edit {
    -webkit-mask-image: url("images/icons/grid-toolbar-edit.svg");
    mask-image: url("images/icons/grid-toolbar-edit.svg");
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-delete {
    -webkit-mask-image: url("images/icons/grid-toolbar-delete.svg");
    mask-image: url("images/icons/grid-toolbar-delete.svg");
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-refresh {
    -webkit-mask-image: url("images/icons/grid-toolbar-refresh.svg");
    mask-image: url("images/icons/grid-toolbar-refresh.svg");
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-filter-row {
    -webkit-mask-image: url("images/icons/grid-toolbar-filter.svg");
    mask-image: url("images/icons/grid-toolbar-filter.svg");
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-document {
    -webkit-mask-image: url("images/icons/grid-toolbar-document.svg");
    mask-image: url("images/icons/grid-toolbar-document.svg");
}
