<DemoPageSectionComponent Id="FileManagement-Upload-UploadModes">
    @inject NavigationManager NavigationManager

    <div class="upload-container">
        <div style="@(SelectedFilesCount > 0 ? "display: none" : string.Empty)">
            <span class="drop-file-icon mb-3"</span>
            <span class="mb-3">Click the Select Files button to select a file</span>
        </div>
        <DxUpload Name="myFile" UploadUrl="@GetUploadUrl("api/Upload/UploadFile/")" SelectedFilesChanged="SelectedFilesChanged"
                  AllowMultiFileUpload="true" UploadMode="UploadMode.OnButtonClick" MaxFileSize="15000000"
                  CssClass="@(SelectedFilesCount > 0 ? "w-100" : string.Empty)">
        </DxUpload>
    </div>

    @code {
        int SelectedFilesCount { get; set; }

        protected void SelectedFilesChanged(IEnumerable<UploadFileInfo> files) {
            SelectedFilesCount = files.ToList().Count;

            InvokeAsync(StateHasChanged);
        }
        protected string GetUploadUrl(string url) {
            return NavigationManager.ToAbsoluteUri(url).AbsoluteUri;
        }
    }
</DemoPageSectionComponent>
