::deep .btn-column-chooser {
    width: 18px;
    height: 18px;
    -webkit-mask-image: url("images/ColumnChooser.svg");
    mask-image: url("images/ColumnChooser.svg");
    margin: 0 8px 0 0;
    background-color: currentColor;
}
