/*BeginHide*/ ::deep /*EndHide*/.dxbl-grid {
    height: 522px;
}

/*BeginHide*/::deep .grid-toolbar-column-chooser {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: currentColor;
    background-size: contain;
    background-position: center center;
}

.grid-container {
    display: contents;
}
/*EndHide*/
