.template-container {
    display: flex;
    align-items: center;
    width: 100%
}

.template-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.375rem;
    -webkit-mask-image: url("images/icons/color-item.svg");
    mask-image: url("images/icons/color-item.svg");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: currentColor;
    border: 2px solid white;
    border-radius: 3px;
}

.dxbl-sm .template-icon {
    margin-right: 0.25rem;
}

.dxbl-lg .template-icon {
    margin-right: 0.5rem;
}

.template-container > .green {
    color: #43A047;
}

.template-container > .red {
    color: #E53935;
}

.template-container > .blue {
    color: #1E88E5;
}

.template-container > .yellow {
    color: #F1CD2E;
}

.template-container > .orange {
    color: #FB8C00;
}

.template-container > .purple {
    color: #8E24AA;
}
