<DemoPageSectionComponent Id="Editors-TextBox-Password" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <label for="tbPassword" class="demo-text cw-320 mb-1">
            Password
        </label>
        <DxTextBox @bind-Text="@TextValue"
                   Password="true"
                   SizeMode="Params.SizeMode"
                   CssClass="cw-320"
                   NullText="Enter password"
                   InputId="tbPassword" />
    </ChildContentWithParameters>

    @code {
        string TextValue { get; set; } = String.Empty;
    }
</DemoPageSectionComponent>
