<DemoPageSectionComponent Id="Layout-GridLayout-Areas">
    <DxGridLayout CssClass="w-100 ch-480">
        <Rows>
            <DxGridLayoutRow Areas="header header header" Height="100px" />
            <DxGridLayoutRow Areas="left-bar content right-bar" />
            <DxGridLayoutRow Areas="footer footer footer" Height="auto" />
        </Rows>
        <Columns>
            <DxGridLayoutColumn Width="2fr" />
            <DxGridLayoutColumn Width="60%" />
            <DxGridLayoutColumn />
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header">
                <Template>
                    <div class="gridlayout-header gridlayout-item">
                        Header
                    </div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="content">
                <Template>
                    <div class="gridlayout-content gridlayout-item">
                        Content
                    </div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="left-bar">
                <Template>
                    <div class="gridlayout-left-side-bar gridlayout-item">
                        Left Bar
                    </div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="right-bar">
                <Template>
                    <div class="gridlayout-right-side-bar gridlayout-item">
                        Right Bar
                    </div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="footer">
                <Template>
                    <div class="gridlayout-footer gridlayout-item">
                        Footer
                    </div>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</DemoPageSectionComponent>
