<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted">
        <CodeSnippet>
@(@"<DxToolbar ItemRenderStyleMode=""ToolbarRenderStyleMode.Plain"">
    <Items>
        <DxToolbarItem>
            <Template>
                <div class=""dxbs-textbox"">
                    <input type=""text"" class=""form-control"" placeholder=""Search..."">
                    <span class=""dxbs-feedback"">
                        <span class=""d-flex pl-2 pr-2"" role=""button"" style=""color:gray"">
                            <span class=""tb-icon tb-icon-search""></span>
                        </span>
                    </span>
                </div>
            </Template>
        </DxToolbarItem>
        <DxToolbarItem IconCssClass=""tb-icon tb-icon-refresh"" Tooltip=""Refresh"" BeginGroup=""true"" />
        <DxToolbarItem IconCssClass=""tb-icon tb-icon-settings"" Tooltip=""Settings"" />
    </Items>
</DxToolbar>")
        </CodeSnippet>
    </div>
</div>
