/*BeginHide*/::deep /*EndHide*/.grid-toolbar-new,
/*BeginHide*/::deep /*EndHide*/.grid-toolbar-edit,
/*BeginHide*/::deep /*EndHide*/.grid-toolbar-delete,
/*BeginHide*/::deep /*EndHide*/.grid-toolbar-refresh,
/*BeginHide*/::deep /*EndHide*/.grid-toolbar-filter-row,
/*BeginHide*/::deep /*EndHide*/.grid-toolbar-document {
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
    height: 16px;
    width: 16px;
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-new {
    -webkit-mask-image: url("images/GridToolbarNew.svg");
    mask-image: url("images/GridToolbarNew.svg");
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-edit {
    -webkit-mask-image: url("images/GridToolbarEdit.svg");
    mask-image: url("images/GridToolbarEdit.svg");
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-delete {
    -webkit-mask-image: url("images/GridToolbarDelete.svg");
    mask-image: url("images/GridToolbarDelete.svg");
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-refresh {
    -webkit-mask-image: url("images/GridToolbarRefresh.svg");
    mask-image: url("images/GridToolbarRefresh.svg");
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-filter-row {
    -webkit-mask-image: url("images/GridToolbarFilterRow.svg");
    mask-image: url("images/GridToolbarFilterRow.svg");
}

/*BeginHide*/::deep /*EndHide*/.grid-toolbar-document {
    -webkit-mask-image: url("images/GridToolbarDocument.svg");
    mask-image: url("images/GridToolbarDocument.svg");
}
