<DemoPageSectionComponent Id="Editors-TagBox-AllowCustomTags" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <label for="tbCustomTags" class="demo-text cw-480 mb-1">
            Cities
        </label>
        <DxTagBox Data="@Cities"
                  NullText="Select city..."
                  TData="string"
                  TValue="string"
                  AllowCustomTags="true"
                  @bind-Tags="@Tags"
                  ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                  SizeMode="Params.SizeMode"
                  CssClass="cw-480"
                  InputId="tbCustomTags" />
    </ChildContentWithParameters>

    @code {
        IEnumerable<string> Cities { get; set; } = new List<string>() {
            "London",
            "Berlin",
            "Paris"
        };
        IEnumerable<string> Tags { get; set; } = new List<string>() {
            "London",
            "New York"
        };
    }
</DemoPageSectionComponent>
