.tagbox-tag-template-close-btn-icon {
    display: inline-block;
    width: 1em;
    margin-left: 0.5em;
}

/*BeginHide*/
.theme-fluent-light .tagbox-tag-template-close-btn-icon,
.theme-fluent-dark .tagbox-tag-template-close-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-left: 0;
    mask-image: url(images/icons/dismiss.svg);
    -webkit-mask-image: url(images/icons/dismiss.svg);
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
}
/*EndHide*/
