.item-template-employee-photo {
    margin-right: 12px;
    border-radius: 16px;
    border: solid 0 #000;
}

.tag-template-employee-photo {
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
}

div.dxbs-tagbox .form-control-lg div.dxbs-tag svg {
    width: 32px !important;
    height: 32px !important;
}

span.tag-item-span-pl {
    padding-left: 25px;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.form-control-lg span.tag-item-span-pl {
    padding-left: 35px;
}

.item-template-employee-first-name {
    font-family: 'Segoe UI';
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    display: block;
}

.item-template-employee-home-phone {
    opacity: 0.65;
    font-family: 'Segoe UI';
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    opacity: 0.65;
    display: block;
}

.item-template {
    display: flex;
    align-items: center;
}
/*BeginHide*/
::deep /*EndHide*/.dxbs-tagbox .dxbs-tag::before {
    content: " ";
    position: absolute;
    background-color: currentColor;
    opacity: 0.15;
    border-radius: 1em;
    height: 100%;
    width: 100%;
}
