<DemoPageSectionComponent Id="Editors-SpinEdit-OnInputBinding" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <DxSpinEdit @bind-Value="@Year"
                    BindValueMode="BindValueMode.OnInput"
                    NullText="Type a value..."
                    SizeMode="@Params.SizeMode"
                    CssClass="cw-320" />
        <p class="demo-text cw-320 mt-2">
            Value: <b>@Year</b>
        </p>
    </ChildContentWithParameters>

    @code {
        int? Year { get; set; } = DateTime.Now.Year;
    }
</DemoPageSectionComponent>
