@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" id="navbar">
        <div class="logo">
            <h5 class="caption">Razor Components powered by DevExpress</h5>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
