/*BeginHide*/::deep /*EndHide*/ .dxbl-menu > .dxbl-menu-item-list .dxbl-menu-item.notoggle {
    display: none;
}
/*BeginHide*/ ::deep /*EndHide*/ .dxbs-menu > .dxbl-menu-item-list .dx-menu-item.search-menu-item {
    display: none;
}
/*BeginHide*/ ::deep /*EndHide*/ .dxbs-menu > .dxbl-menu-item-list .dxbl-menu-items-separator {
    display: none;
}
/*BeginHide*/ ::deep /*EndHide*/ .dxbl-menu-item-tmpl {
    display: flex;
    align-items: center;
}

.overview-navigation > .card-header {
    font-weight: inherit;
    font-size: inherit;
}

.overview-navigation > .card-body:last-child {
    flex-wrap: nowrap;
}

.dxbl-menu-item .search {
    min-width: 123px
}

.dxbl-menu-item-tmpl > .search {
    position: relative;
}

@media (max-width: 599.98px) {
    .overview-navigation > .card-body:last-child > :first-child {
        display: none;
    }
}
