@page "/"

<div class="demo-description">
    <h1>DevExpress UI Components for Blazor</h1>
    <p>
        The DevExpress UI components featured in this demo are available for free download and can be used in your next Blazor app.*
    </p>
    <p>
        Review our <a href="https://github.com/DevExpress/Blazor">GitHub Guide</a> for details on how to set up your environment.
    </p>

    <p>
        <i>* Like any software preview, the DevExpress UI Suite for Blazor is not without fault. You should not use these products in production environments or in mission-critical applications.</i>
    </p>

    <h2>How to run this demo on your machine</h2>
    <ol>
        <li>Ensure that you have .NET Core 3 installed.</li>
        <li>Download the "<b>demo</b>" directory from the <a href="https://github.com/DevExpress/Blazor">GitHub repository</a>.</li>
        <li>Open <b>demo/BlazorDemo.ServerSide/BlazorDemo.ServerSide.sln</b> in Visual Studio 2019.</li>
        <li>Start the application.</li>
    </ol>
    See also:
    <ul style="list-style-type: none;padding:0;">
        <li><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/client">Official Microsoft Blazor site</a></li>
    </ul>

    <h2>How to create a new project</h2>
    <p>
        Follow the steps below to try our Blazor in your own application.
    </p>
    <ol>
        <li>Create a new solution using the "Blazor (server-side)" or "Blazor" template in Visual Studio 2019.</li>
        <li>
            <p>Register the DevExpress Early Access feed in Visual Studio's NuGet Package Manager.</p>
<CodeSnippet>https://nuget.devexpress.com/early-access/api</CodeSnippet>
            <p>See the <a href="https://docs.devexpress.com/GeneralInformation/116698/installation/install-devexpress-controls-using-nuget-packages/setup-visual-studio%27s-nuget-package-manager" rel="nofollow">Setup Visual Studio's NuGet Package Manager</a> topic for more information.</p>
        </li>
        <li>Install the "DevExpress.Blazor" NuGet package.</li>
        <li>Obtain the client runtime from our <a href="https://github.com/DevExpress/Blazor">GitHub repository</a> - download all files from the "<b>client-runtime</b>" directory. Include the downloaded files into your start page.</li>
        <li>
            Register our tag namespace and helper in <b>_Imports.razor</b> file: 
            <CodeSnippet>
@(@"@using DevExpress.Blazor")
            </CodeSnippet>
        </li>
        <li>Your application is ready to use DevExpress UI for Blazor.</li>
    </ol>

    <h2>Included Demo Modules</h2>
    <ul>
        <li>
            Data Grid
            <ul>
                <li><NavLink href="GridColumnTypes">Column Types</NavLink></li>
                <li><NavLink href="GridTemplate">Templates</NavLink></li>
                <li><NavLink href="GridCascadingEditors">Cascading Editors</NavLink></li>
                <li><NavLink href="GridEditFormTemplateValidation">Edit Form Template Validation</NavLink></li>
                <li><NavLink href="GridLargeDataBase">Large Datasets</NavLink></li>
            </ul>
        </li>
        <li>
            Pivot Grid
            <ul>
                <li><NavLink href="PivotGrid">Data Binding Basics</NavLink></li>
                <li><NavLink href="PivotGridTemplates">Templates</NavLink></li>
                <li><NavLink href="PivotGridLargeDataBase">Large Datasets</NavLink></li>
            </ul>
        </li>
        <li>
            Data Editors
            <ul>
                <li><NavLink href="ComboBox">Combo Box - Business Object List</NavLink></li>
                <li><NavLink href="ComboBox">Combo Box - Allow Input</NavLink></li>
                <li><NavLink href="ComboBox">Combo Box - Incremental Filtering</NavLink></li>
                <li><NavLink href="ComboBox">Combo Box - NullText</NavLink></li>
                <li><NavLink href="ComboBox">Combo Box - Cascading Lists</NavLink></li>
                <li><NavLink href="SpinEdit">Spin Edit</NavLink></li>
                <li><NavLink href="DateEdit">Date Edit</NavLink></li>
                <li><NavLink href="TextBox">Text Box</NavLink></li>
            </ul>
        </li>
        <li>
            Layout
            <ul>
                <li><NavLink href="FormLayout">Form Layout</NavLink></li>
                <li><NavLink href="FormValidation">Form Validation</NavLink></li>
                <li><NavLink href="TreeView">Tree View</NavLink></li>
                <li><NavLink href="Tabs">Tabs</NavLink></li>
            </ul>
        </li>
        <li><NavLink href="Pager">Pager</NavLink></li>
    </ul>
</div>