.blazor-themes a.blazing-berry:before {
    background: #5c2d91;
}

.blazor-themes a.blazing-dark:before {
    background: #46444a;
}

.blazor-themes a.office-white:before {
    background: #fe7109;
}

.blazor-themes a.purple:before {
    background: #7989ff;
}


.blazor-themes a.default:before {
    background: #007bff;
}

.blazor-themes a.default-dark:before {
    background: #212529;
}

.blazor-themes a.cerulean:before {
    background: #2fa4e7;
}

.blazor-themes a.cyborg:before {
    background: #060606;
}

.blazor-themes a.flatly:before {
    background: #dce4ec;
}

.blazor-themes a.journal:before {
    background: #eb6864;
}

.blazor-themes a.litera:before {
    background: #4582ec;
}

.blazor-themes a.lumen:before {
    background: #158cba;
}

.blazor-themes a.lux:before {
    background: #1a1a1a;
}

.blazor-themes a.pulse:before {
    background: #593196;
}

.blazor-themes a.simplex:before {
    background: #d9230f;
}

.blazor-themes a.solar:before {
    background: #b58900;
}

.blazor-themes a.superhero:before {
    background: #df691a;
}

.blazor-themes a.united:before {
    background: #e95420;
}

.blazor-themes a.yeti:before {
    background: #008cba;
}

.theme-external {
    font-size: 0.875rem;
}
