@keyframes show_theme_switcher {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.themeswitcher-container {
    display: block;

    --themeswitcher-color-hover: var(--dxds-color-surface-neutral-default-selected, #e9e9e8);
    --themeswitcher-color-active: var(--dxds-color-surface-neutral-default-hovered, #f4f4f3);
    --themeswitcher-color-active-hover: var(--dxds-color-surface-neutral-default-selected-hovered, #d3d3d2);
}

.theme-default-dark .themeswitcher-container, .theme-blazing-dark .themeswitcher-container {
    --themeswitcher-color-hover: #2e2e2d;
    --themeswitcher-color-active: #3f3f3e;
    --themeswitcher-color-active-hover: #505150;;
}

.themeswitcher-fluent-mode {
    margin-top: 2px;
    padding: 0 12px;
}

.theme-default-dark .themeswitcher-fluent-mode .dxbl-btn.dxbl-disabled {
    --dxbl-btn-disabled-color: var(--bs-border-color);
}

.themeswitcher-title {
    display: block;
    background-color: var(--bs-body-bg);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 100%;
    text-align: start;
    padding: 8px 12px;
    border-bottom: 1px solid #D6D6D6;
    position: sticky;
    top: 0;
    z-index: 1;
}

.themeswitcher-subtitle {
    margin-top: 12px;
    margin-bottom: 2px;
    padding: 0 12px;
    font-size: 16px;
}

.themeswitcher-content {
    padding: 0;
    margin-bottom: 16px;
    padding-right: 4px;
}

.themeswitcher-content:first-child {
    margin-top: 12px;
}

.themeswitcher-colors {
    flex-flow: row wrap;
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

.themeswitcher-color {
    display: flex;
    flex: 1 0 50%;
    max-width: 50%;
    padding: 2px 4px;
}

.themeswitcher-color a {
    display: flex;
    border-radius: 4px;
    padding: 8px 8px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 14px;
}

.themeswitcher-color.active a {
    background-color: var(--themeswitcher-color-active);
}

.themeswitcher-color.active a:hover {
    background-color: var(--themeswitcher-color-active-hover);
}

.themeswitcher-color a:hover {
    background-color: var(--themeswitcher-color-hover);
}

.themeswitcher-color a:before {
    content: '';
    margin-inline-end: 12px;
    display: block;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    background-color: var(--themeswitcher-color);
}

.theme-blazing-dark .themeswitcher-color.active a:before,
.themeswitcher-color.default-dark a:before {
    border: 1px solid #7a7a7a;
}

.themeswitcher-custom-color {
    padding: 6px 8px 8px 8px;
    margin: 0 4px;
    display: flex;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.themeswitcher-custom-color.active {
    background-color: var(--themeswitcher-color-active);
}

.themeswitcher-custom-color.active .themeswitcher-custom-color-button-icon:after {
    -webkit-mask-image: none;
    mask-image: none;
    background-color: var(--dxds-primary-90);
}

.themeswitcher-custom-color input[type="color"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.01;
    z-index: 1;
}

.themeswitcher-custom-color-button {
    margin-left: 4px;
    position: relative;
}

.themeswitcher-custom-color .themeswitcher-custom-color-button-icon {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: #dcdcdc;
    border-radius: 2px;
}

.themeswitcher-custom-color .themeswitcher-custom-color-button-icon:after {
    -webkit-mask-image: url("../../images/icons/themeswitcher-no-color-icon.svg");
    mask-image: url("../../images/icons/themeswitcher-no-color-icon.svg");
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    top: 0;
    left: 0;
    background-color: #e00000;
    border-radius: 2px;
}

.themeswitcher-icon-fluent-mode-light, .themeswitcher-icon-fluent-mode-dark {
    width: 1.25rem;
    height: 1.25rem;
    background-color: currentColor;
}

.themeswitcher-icon-fluent-mode-light {
    -webkit-mask-image: url("../../images/icons/themeswitcher-fluent-mode-light.svg");
    mask-image: url("../../images/icons/themeswitcher-fluent-mode-light.svg");
}

.themeswitcher-icon-fluent-mode-dark {
    -webkit-mask-image: url("../../images/icons/themeswitcher-fluent-mode-dark.svg");
    mask-image: url("../../images/icons/themeswitcher-fluent-mode-dark.svg");
}
