@keyframes show_theme_switcher {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

#themesMenu.card {
    border-radius: 0;
    border: none;
}
#themesMenu,
#themesMenu div,
#themesMenu .list-group,
#themesMenu .themeswitcher-group {
    background-color: inherit;
}
#themesMenu .list-group {
    flex-flow: row wrap;
    border: none;
    color: inherit;
}
#themesMenu .list-group-item {
    flex: 1 0 100%;
    font-size: 1em;
    white-space: nowrap;
    text-transform: capitalize;
    padding: .5rem .75rem;
    border-radius: 0 !important;
}
#themesMenu .list-group-item-action:not(.active):not(:hover) {
    background: none;
}
#themesMenu .list-group-item-action {
    flex: 1 0 50%;
    max-width: 50%;
    font-weight: 500;
    border-color: transparent;
}
#themesMenu .themeswitcher-group {
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 3;
    color: inherit;
    border: none;
    margin-bottom: 0;
}
#themesMenu .themeswitcher-group:not(:first-child):before,
#themesMenu .themeswitcher-group::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    border-top: 1px solid currentColor;
    opacity: 0.15;
}
#themesMenu .themeswitcher-group:not(:first-child):before {
    top: 0;
}
#themesMenu .themeswitcher-group::after {
    bottom: 0;
}
#themesMenu .themeswitcher-item > span {
    opacity: 0.8;
}
#themesMenu a.list-group-item-action:before {
    content: "";
    display: inline;
    margin: 0 .75rem 0 .5rem;
    padding-right: 1.2em;
}
#themesMenu a:before {
    border: 1px solid #fff;
}
.theme-settings {
    border-width: 0px !important;
}

.theme-settings.True {
    background-color: #fff!important;
    color: #222!important;
}

.theme-settings a {
    position: relative;
    transform: scale(1);
    height: 3.5rem;
    display: inline-block;
}

.theme-settings.True a {
    color: inherit !important;
    background-color: transparent!important;
}

.theme-settings a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    background-color: currentColor;
    opacity: .2;
}

.theme-settings a,
.theme-settings a:hover,
.theme-settings a:active,
.theme-settings a:focus {
    color: inherit!important;
    background: transparent!important;
    border: none!important;
}
.theme-settings a:hover:before {
    opacity: 1;
}
.theme-settings a:hover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    height: 100%;
    width: calc(100% - 1px);
    z-index: -1;
    background-color: currentColor;
    opacity: 1;
}
.theme-settings a:hover > span {
    opacity: .9;
    color: #fff;
}
.theme-settings-collapsed > a,
.theme-settings > a {
    padding: 15px 16px 9px 16px;
    line-height: 24px;
    margin: 0;
}
