<DemoPageSectionComponent Id="Editors-SpinEdit-Overview" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <DxSpinEdit @bind-Value="@DecimalValue"
                    CssClass="cw-320"
                    SizeMode="@Params.SizeMode" />
        <p class="demo-text cw-320 mt-2 text-muted">
            Value: <b>@DecimalValue</b>
        </p>
    </ChildContentWithParameters>

    @code {
        Decimal DecimalValue { get; set; } = 15;
    }
</DemoPageSectionComponent>
