@using BlazorDemo.Configuration
@inject DemoConfiguration DemoConfiguration
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@(typeof(MainLayout))"  />
    </Found>
    <NotFound>
        <LayoutView Layout="@(typeof(Error404Layout))">
            <div class="full-height">
                <div class="page-not-found">
                    <span class="error-icon"></span>
                    <p>The page you requested was not found</p>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
