@inherits DemoWithResizableComponent

<div class="demo-description">
    <h2><DemoNavLink Link="DateEdit#Overview" />Overview</h2>
    <p>
        Our Blazor <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxDateEdit-1">Date Edit</a> component allows you to modify date values via a built in dropdown calendar.
        You can enter date values directly into the text box or select one from the dropdown.
    </p>
    <p>
        The DevExpress Blazor Date Edit component supports different size modes. To specify the component's size in code, use the
        <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxResizableEditorBase-2.SizeMode">SizeMode</a>
        property. To apply different size modes in this demo, use the drop-down list in the demo card's header.
    </p>
</div>

<div class="card demo-card demo-card-shadow">
    <div class="card-header">
        <DemoToolbar @bind-SelectedSize="SizeMode">
            <TitleTemplate>
                Date: <b>@DateTimeValue.ToString("dddd, dd MMMM yyyy")</b>
            </TitleTemplate>
        </DemoToolbar>
    </div>
    <div class="card-body mw-480">
        <DxDateEdit @bind-Date="@DateTimeValue" SizeMode="SizeMode"></DxDateEdit>
    </div>
</div>

<CodeSnippet_Editor_DateEdit/>

@code {
    DateTime DateTimeValue { get; set; } = DateTime.Now;
}
