@inherits DemoWithResizableComponent

<div class="demo-description">
    <h2><DemoNavLink Link="Memo#ReadOnly" />Read-Only and Disabled Modes</h2>
    <p>In this demo, the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxMemo">Memo</a> displays values but does not allow users to change them. To implement this behavior, you can use any of the following modes:</p>
    <ul>
        <li>Read-only mode. In this mode, you can use the keyboard to focus and navigate the component. Set the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxTextEditorBase.ReadOnly">ReadOnly</a> property to <b>true</b> to activate this mode.</li>
        <li>Disabled mode. In this mode, the component cannot be focused or navigated. Set the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxDataEditorBase-2.Enabled">Enabled</a> property to <b>false</b> to activate this mode.</li>
    </ul>
</div>

<div class="card demo-card demo-card-shadow">
    <div class="card-header">
        <DemoToolbar @bind-SelectedSize="SizeMode" Title="Text cannot be changed"/>
    </div>
    <div class="card-body mw-480">
        <DxFormLayout ItemSizeMode="SizeMode" @key="@ThemeName">
            <DxFormLayoutItem ColSpanMd="12" Caption="Read Only">
                <Template>
                    <DxMemo Text="@TextValue" ReadOnly="true" />
                </Template>
            </DxFormLayoutItem>
            <DxFormLayoutItem ColSpanMd="12" Caption="Disabled" BeginRow="true">
                <Template>
                    <DxMemo Text="@TextValue" Enabled="false" />
                </Template>
            </DxFormLayoutItem>
        </DxFormLayout>
    </div>
</div>

<CodeSnippet_Editor_Memo_ReadOnly />

@code {
    [CascadingParameter(Name = "ThemeName")] string ThemeName { get; set; }

    string TextValue { get; set; } = "End users cannot change the Memo value";
}
