<div class="demo-description">
    <h2><DemoNavLink Link="Tabs#SimpleTabControl" />Overview</h2>
    <p>
        The DevExpress <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxTabs"> Tabs</a> component for Blazor allows you to build tabbed interfaces.
    </p>
</div>

<div class="card demo-card demo-card-shadow">
    <div class="card-body">
        <DxTabs>
            <DxTab Text="Home"></DxTab>
            <DxTab Text="Products"></DxTab>
            <DxTab Text="Support"></DxTab>
        </DxTabs>
    </div>
</div>

<CodeSnippet_Tabs_Default/>
