@using Demo.Blazor.Services;
@inject CountryNamesService CountryNamesService

<div class="demo-description" id="VirtualScrolling">
    <h2><DemoNavLink Link="ListBox#VirtualScrolling" />List Box - Virtual Scrolling</h2>
    <p>
        The <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxListBoxBase-1.ListRenderMode">ListRenderMode</a> property specifies how the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxListBox-1">List Box</a> loads the item list.
    </p>
    <ul>
        <li><b>Entire</b> - The List Box loads the entire item list. Use this option for small item lists where scrolling should be instantly.</li>
        <li><b>Virtual</b> - The List Box loads visible items only. This approach improves performance when the list contains many items.</li>
    </ul>
    <p>
        In this demo, the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxListBoxBase-1.ListRenderMode">ListRenderMode</a> property is set to <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.ListRenderMode">ListRenderMode.Virtual</a>.
    </p>
</div>

@if (Data != null)
{
    <DxListBox Data="@Data" style="height: 232px"
               ListRenderMode="ListRenderMode.Virtual"
               CssClass="mw-480">
    </DxListBox>

    <div class="code-snippet card demo-card-wide">
        <CodeSnippetHeader></CodeSnippetHeader>
        <div class="card-footer text-muted">
            <CodeSnippet_Editors_ListBox_VirtualScrolling></CodeSnippet_Editors_ListBox_VirtualScrolling>
        </div>
    </div>
}

@code {
    IEnumerable<string> Data;

    protected override async Task OnInitializedAsync() {
        Data = await CountryNamesService.Load();
    }
}
