@using Demo.Blazor.Model

<div class="demo-description" id="NullText">
    <h2><DemoNavLink Link="TagBox#NullText" />TagBox - Null Text</h2>
    <p>
        This demo illustrates how to use the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxTagBoxBase-1.NullText">NullText</a> property to display 
        placeholder text in the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxTagBox-1">TagBox</a> when its value is null.
    </p>
    <p>
        Set the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxTagBoxBase-1.ClearButtonDisplayMode">ClearButtonDisplayMode</a> property to <b>Auto</b> to display the <b>Clear</b> button when the 
        TagBox has a non-null value. Users can click this button to clear the editor's value (set it to null).
    </p>
</div>

<div class="card demo-card">
    <div class="card-body mw-480" style="height: 210px">
        <DxTagBox NullText="Select an option..."
                    Data="@DataSource"
                    ClearButtonDisplayMode="@DataEditorClearButtonDisplayMode.Auto"
                  TextFieldName ="Text"
                    @bind-SelectedItems="@SelectedOptions"
                    @bind-DropDownVisible="@DropDownVisible"></DxTagBox>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Editor_TagBox_NullText></CodeSnippet_Editor_TagBox_NullText>
    </div>
</div>

@code {
    class Options {
        public int Id { get; set; }
        public string Text { get; set; }
    }
    
    IEnumerable<Options> SelectedOptions { get; set; }

    List<Options> DataSource = new List<Options>() {
        new Options() { Id = 0, Text = "Option 1" },
        new Options() { Id = 0, Text = "Option 2" },
        new Options() { Id = 0, Text = "Option 3" },
        };

    bool DropDownVisible { get; set; } = true;
}
