<div class="demo-description">
    <h2>Date Edit - Read-Only Mode</h2>
    <p>
        The Date Edit component allows you to display the value, but do not allow users to change it.
        Set the <b>ReadOnly</b> property to <b>true</b> to activate the read-only mode.
    </p>
</div>

<div class="card demo-card">
    <div class="card-header">Selected date is: <b>@DateTimeValue.ToString("dddd, dd MMMM yyyy")</b></div>
    <div class="card-body mw-480" style="height: 425px">
        <DxDateEdit @bind-Date="@DateTimeValue"
                    ReadOnly="true"
                    @bind-DropDownVisible="@DropDownVisible"></DxDateEdit>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Editor_DateEdit_ReadOnly></CodeSnippet_Editor_DateEdit_ReadOnly>
    </div>
</div>

@code {
    DateTime dateTimeValue = DateTime.Now;
    DateTime DateTimeValue { get => dateTimeValue; set { dateTimeValue = value; InvokeAsync(StateHasChanged); }  }

    bool dropDownVisible = true;
    bool DropDownVisible { get => dropDownVisible; set { dropDownVisible = value; InvokeAsync(StateHasChanged); }  }
}
