@using Demo.Blazor.Model

<div class="demo-description" id="ReadOnly">
    <h2><DemoNavLink Link="TagBox#ReadOnly" />TagBox - Read-Only Mode</h2>
    <p>
        In this demo, the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxTagBox-1">TagBox</a> displays values but does not allow users to change them.
        Set the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxTagBoxBase-1.ReadOnly">ReadOnly</a> property to <b>true</b> to activate read-only mode.
    </p>
</div>

<div class="card demo-card">
    <div class="card-body mw-480" style="height: 280px">
        <DxTagBox Data="@DataSource"
                    @bind-SelectedItems="@Options"
                    @bind-DropDownVisible="@DropDownVisible"
                    ReadOnly="true"
                    HideSelectedItems="false"/>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Editor_TagBox_ReadOnly></CodeSnippet_Editor_TagBox_ReadOnly>
    </div>
</div>

@code {
    String[] DataSource = null;

    IEnumerable<string> Options { get; set; }

    bool DropDownVisible { get; set; } = true;

    protected override void OnInitialized() {
        DataSource = new string[] { "Apple", "Banana", "Lemon", "Orange", "Pear", "Pinapple", "Peach" };
        Options = new List<string>() { DataSource[1], DataSource[4] };
    }
}