<div class="demo-description" id="LimitPageButtonsNumber">
    <h2><DemoNavLink Link="Pager#LimitPageButtonsNumber" />Pager - Limit the Number of Page Buttons</h2>
    <p>
        In this demo module, the total number of pages (<a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxPagerBase.PageCount">PageCount</a>) 
        is set to 100 and the number of visible numeric buttons (<a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxPagerBase.VisibleNumericButtonCount">VisibleNumericButtonCount</a>) 
        is set to 7. Use the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxPager">Pager</a> component's navigation buttons to switch between pages.

    </p>
</div>

<div class="card demo-card">
    <div class="card-body">
        <DxPager PageCount="100"
                 VisibleNumericButtonCount="7"
                 ActivePageIndex="50"
                 NavigationMode="PagerNavigationMode.NumericButtons">
        </DxPager>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Pager_Large></CodeSnippet_Pager_Large>
    </div>
</div>