<DemoPageSectionComponent Id="DataGrid-Summary-Group" ShowHorizontalScrollBar="true">
    @inject ISalesInfoDataProvider Sales

    @if(Sales == null) {
        <p><em>Loading...</em></p>
    } else {
        <DxDataGrid Data="@SalesData"
                    ShowGroupPanel="true">
            <Columns>
                <DxDataGridSpinEditColumn Field=@nameof(SaleInfo.OrderId)
                                          Width="120px" />
                <DxDataGridColumn Field=@nameof(SaleInfo.Region)
                                  GroupIndex="0"
                                  Width="240px" />
                <DxDataGridColumn Field=@nameof(SaleInfo.Country)
                                  GroupIndex="1" />
                <DxDataGridDateEditColumn Field="@nameof(SaleInfo.Date)"
                                          DisplayFormat="D" />
                <DxDataGridColumn Field=@nameof(SaleInfo.City) />
                <DxDataGridSpinEditColumn Field="@nameof(SaleInfo.Amount)"
                                          DisplayFormat="c"
                                          Width="120px" />
            </Columns>
            <GroupSummary>
                <DxDataGridSummaryItem SummaryType=SummaryItemType.Count
                                       GroupSummaryPosition="GroupSummaryPosition.GroupRow" />
                <DxDataGridSummaryItem Field=@nameof(SaleInfo.Amount)
                                       SummaryType=SummaryItemType.Sum
                                       GroupSummaryPosition="GroupSummaryPosition.GroupFooter"
                                       DisplayFormat="Total: {0:c}" />
                <DxDataGridSummaryItem Field=@nameof(SaleInfo.Date)
                                       SummaryType=SummaryItemType.Min
                                       DisplayFormat="First: {0:D}"
                                       GroupSummaryPosition="GroupSummaryPosition.GroupFooter" />
            </GroupSummary>
        </DxDataGrid>
    }

    @code {
        IEnumerable<SaleInfo> SalesData;

        protected override async Task OnInitializedAsync() {
            SalesData = await Sales.GetReducedSalesAsync();
        }
    }
</DemoPageSectionComponent>
