@page "/IENotSupported"

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="d-flex">
        <img class="mt-2 me-4" src="_content/BlazorDemo/images/Sad.svg" width="60" height="60" />
        <div>
            <div class="h1">Your browser is not supported.</div>
            <p style="font-size: 1rem; opacity: 0.75;" class="m-0">In .NET 5.0, Blazor does not support Microsoft Internet Explorer and Microsoft Edge Legacy. For more information, refer to <a target="_blank" href="https://docs.devexpress.com/Blazor/401058/demos">this help topic</a>.<br />Please use a different browser to run DevExpress Blazor UI Component Demos.</p>
        </div>
    </div>
</div>
