<div class="warning form-control d-flex align-items-center">
    <div class="icon-container flex-shrink-0 d-flex align-items-center">
        <span class="e-icon e-warning"></span>
    </div>
    <span>@Text</span>
</div>

@code {
    [Parameter] public string Text { get; set; }
}
