@page "/ReportDesigner"

<div class="demo-description" id="Template">
    <div class="alert alert-warning" role="alert">
        Important Note: Though <a class="helplink" target="_blank" href="https://www.devexpress.com/subscriptions/reporting/">DevExpress Reports</a> supports Blazor, it is not included in our Blazor component distribution. To use DevExpress Reports within your Blazor application/project or to replicate the functionality described below, you must purchase a DevExpress Subscription (Reporting Subscription, ASP.NET Subscription, DXperience, or Universal). For more information on what’s included in our product subscriptions, please refer to the following <a class="helplink" target="_blank" href="https://www.devexpress.com/buy/net/">product matrix</a>.
    </div>
    <h2><DemoNavLink Link="ReportDesigner" />Reporting – Report Designer</h2>
    <p>
        This demo illustrates the DevExpress Blazor <a class="helplink" target="_blank" href="https://docs.devexpress.com/XtraReports/DevExpress.Blazor.Reporting.DxReportDesigner">Report Designer</a> that allows end users to create and edit reports.
    </p>
</div>

<DxReportDesigner ReportUrl="InvoiceReport" Height="770px" Width="100%" AllowMDI="false">
</DxReportDesigner>
<CodeSnippet_ReportDesigner></CodeSnippet_ReportDesigner>