.checkBox {
    width: 191px;
    height: 191px;
    border-radius: 20px;
    box-shadow: 0px 2px 12px 0 rgba(0, 0, 0, 0.3);
    background-color: #fcfcfc;
}

.template-container {
    margin-bottom: 1rem;
    position: relative;
}

.flexBox, .checkBox, .gradientCircle, .borderContainer, .boxLabel, .borderCyrcle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLabel {
    opacity: 0.6;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
}

.borderCyrcle, .borderContainer {
    position: absolute;
    width: 152px;
    height: 152px;
}

.borderCyrcle {
    border-radius: 100%;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.32);
    border: solid 6px rgba(0, 0, 0, 0.1);
}

.gradientCircle {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.32);
    background-image: linear-gradient(to bottom, #bc91ff, #593196);
    transform: rotate(-45deg);
}

.centerCircle {
    position: absolute;
    border-radius: 100%;
    width: 74px;
    height: 74px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.42), inset 0px 10px 16px 0 rgba(0, 0, 0, 0.1);
    border: solid 8px #ffffff;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.roundMarkerHigh, .roundMarkerMedium, .roundMarkerLow {
    position: relative;
    left: 83%;
    top: 47%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
}

.roundMarkerMedium {
    opacity: 0.75;
    border: solid 3px #ffffff;
    background-color: #ffffff00;
}

.roundMarkerLow {
    opacity: 0.75;
    border: solid 1px #ffffff;
    background-color: #ffffff00;
}

.marker {
    position: absolute;
    left: 60%;
    top: 49.5%;
    width: 14px;
    height: 4px;
    border-radius: 2px;
    background-color: #212529;
}

.light {
    width: 100%;
    border-top: 50px solid transparent;
    border-right: 100px solid white;
    border-bottom: 50px solid transparent;
    opacity: 0.2;
}

.markerContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}

.rotation-0 {
    transform: rotate(0deg);
    animation: turn0 0.5s ease-out
}

.rotation-90 {
    transform: rotate(-90deg);
    animation: turn90 0.5s ease-out
}

.rotation-180 {
    transform: rotate(-180deg);
    animation: turn180 0.5s ease-out
}

@keyframes turn90 {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}

@keyframes turn180 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

@keyframes turn0 {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
