.popup-demo-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}
.popup-demo-layout-item {
    display: flex;
    align-items: center;
}
.popup-image {
    flex-shrink: 0;
}
::deep .popup-demo-caption {
    margin-left: calc(15px + 1rem);
}
::deep .popup-demo-textbox {
    width: 100%;
}

.popup-icon-user,
.popup-icon-birthday,
.popup-icon-worked,
.popup-icon-position {
    margin-right: 1rem;
}

