<div class="search @CssClass">
    <input type="text" class="form-control form-control-sm search-input" placeholder="Search...">
    <span class="search-button d-flex ps-2 pe-2 me-1">
        <span class="search-icon"></span>
    </span>
</div>

@code {
    [Parameter]
    public string CssClass { get; set; }
}
