<div class="search">
    <input type="text" class="form-control form-control-sm search-input" placeholder="Search...">
    <span class="search-button d-flex pl-2 pr-2">
        <span class="search-icon"></span>
    </span>
</div>
