<div class="search">
    <input type="text" class="form-control form-control-sm search-input" placeholder="Search...">
    <span class="search-button d-flex ps-2 pe-2">
        <span class="search-icon"></span>
    </span>
</div>
