@page "/GridLargeDataBase"

@using Demo.RazorComponents.Model

@inject FMRDemoContext FMRDemoContext
@inject IOptions<DemoConfiguration> DemoConfiguration

<div class="demo-description">
    <h2>Data Grid - Large Data Source</h2>

    <p>
        This demo illustrates DxDataGrid control’s performance when bound to a dataset that contains a million rows and has a total size of over 1GB.
        Try to navigate between pages and sort data to experience the control’s responsiveness.
    </p>
    <p>
        In this example, Entity Framework Core (version 3.0) provides DxDataGrid with an IQueryable&lt;T&gt; source.
    </p>
</div>
@if (!DemoConfiguration.Value.SiteMode)
{
    <div class="online-only-warrning card">
        <img src="images/Information.svg" alt="Information" />
        <p class="info-caption">To try this demo, please navigate to the <a href="https://demos.devexpress.com/razor-components/GridLargeDataBase">online demo page</a>.</p>
        <p class="info-descrition">This demo is only accessible online because it uses a large data source that is hosted on a DevExpress internal database server.</p>
    </div>
    <div class="card demo-card-wide">
        <div class="card-footer text-muted" style="border-top: none">
            <CodeSnippet_GridLargeDataBase></CodeSnippet_GridLargeDataBase>
        </div>
    </div>
}
else
{
    if (largeDataSource == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <DxDataGrid Data=@largeDataSource AllowRowSelection=false PageSize="10" KeyFieldName="Oid" ShowFilterRow=false>
            <DxDataGridColumn Field=@nameof(AreaRentInfo.State)></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AreaRentInfo.Area)></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AreaRentInfo.City) Caption="County"></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AreaRentInfo.Name) Caption="Location"></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AreaRentInfo.Year)></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AreaRentInfo.Bedrooms)></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AreaRentInfo.Rent)>
                <DisplayTemplate>
                    @(((context as AreaRentInfo).Rent).ToString("C2"))
                </DisplayTemplate>
            </DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AreaRentInfo.Population)>
                <DisplayTemplate>
                    @(((context as AreaRentInfo).Population).ToString("#,0"))
                </DisplayTemplate>
            </DxDataGridColumn>
        </DxDataGrid>
    }
    <div class="card demo-card-wide" style="border-top: none">
        <div class="card-footer text-muted" style="border-top: none">
            <CodeSnippet_GridLargeDataBase></CodeSnippet_GridLargeDataBase>
        </div>
    </div>
}

@functions {
    IQueryable<AreaRentInfo> largeDataSource;

    protected override void OnInit()
    {
        var dal = new EFDataAccessLayer(FMRDemoContext);
        largeDataSource = dal.GetQueryableAreaRentInfo();
    }
}
