.item-template {
    display: flex;
    align-items: center;
}

.tag-template {
    display: flex;
    align-items: center;
    padding: 0.125em 0.5em 0.125em 0;
    position: relative;
}

.tag-template:before {
    content: " ";
    position: absolute;
    background-color: currentColor;
    opacity: 0.15;
    border-radius: 16px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.item-template-employee-photo,
.tag-template-employee-photo {
    margin-right: 0.5em;
    border-radius: 16px;
    border: 0 solid #000;
}

.item-template-employee-photo {
    width: 32px;
    height: 32px;
}

.tag-template-employee-photo {
    width: 24px;
    height: 24px;
}

.item-template-employee-home-phone {
    opacity: 0.65;
    display: block;
    font-size: 0.75em;
}

/*BeginHide*/::deep /*EndHide*/.tag-template-close-btn {
    border: 0;
    border-radius: 3rem;
    box-shadow: none;
    font-weight: 600;
    padding: 0;
    width: 16px;
    height: 16px;
    margin: 0 0 0 0.5em;
    opacity: 0.5;
}

/*BeginHide*/::deep /*EndHide*/.tag-template-close-btn:hover {
    opacity: 0.75;
}

/*BeginHide*/::deep /*EndHide*/.tag-template-close-btn-icon {
    height: 16px;
    width: 16px;
    mask-image: url("images/icons/clear.svg");
    -webkit-mask-image: url("images/icons/clear.svg");
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
}
