<DemoPageSectionComponent Id="Layout-Tabs-Overview" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <div class="cw-480">
            <DxTabs SizeMode="Params.SizeMode">
                <DxTab Text="Home" TabIconCssClass="tabs-icon-home tabs-icon"></DxTab>
                <DxTab Text="Products" TabIconCssClass="tabs-icon-products tabs-icon"></DxTab>
                <DxTab Text="Support" TabIconCssClass="tabs-icon-support tabs-icon"></DxTab>
            </DxTabs>
        </div>
    </ChildContentWithParameters>
</DemoPageSectionComponent>
