/*BeginHide*/ ::deep /*EndHide*/ .checked-item > a::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: currentColor !important;
    opacity: 0.2;
}

/*BeginHide*/ ::deep /*EndHide*/ .dxbl-menu {
    --dxbl-menu-bottom-right-border-radius: 0;
    --dxbl-menu-bottom-left-border-radius: 0;
}
