<DemoPageSectionComponent Id="Navigation-Tabs-Overview">
    <div class="cw-480">
        <DxTabs>
            <DxTab Text="Home"></DxTab>
            <DxTab Text="Products"></DxTab>
            <DxTab Text="Support"></DxTab>
        </DxTabs>
    </div>
</DemoPageSectionComponent>
