/*BeginHide*/
.tabs-border-top-0 {
    border-top-width: 0 !important;
}

.tabs-border-radius-top-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
/*EndHide*/
