/*BeginHide*/::deep /*EndHide*/.dxbl-grid {
    height: 320px;
}
/*BeginHide*/ ::deep /*EndHide*/ .change-up {
    color: rgb(40, 167, 69);
}
/*BeginHide*/ ::deep /*EndHide*/ .change-down {
    color: rgb(220, 53, 69);
}
/*BeginHide*/ .grid-container {
    display: contents;
}
/*EndHide*/
