/*BeginHide*/::deep /*EndHide*/.treelist-toolbar-column-chooser {
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
}
