<DemoPageSectionComponent Id="Buttons-Button-Picture"
                          ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        @*BeginHide*@
        <div>
        @*EndHide*@
        <DxButton RenderStyle="ButtonRenderStyle.Dark"
                    Text="Undo"
                    Title="Undo the last action."
                    IconCssClass="btn-icon-undo"
                    SizeMode="Params.SizeMode"
                    CssClass="mr-1" />
        <DxButton RenderStyle="ButtonRenderStyle.Dark"
                    Text="Redo"
                    Title="Restore the previously undone action."
                    IconCssClass="btn-icon-redo"
                    SizeMode="Params.SizeMode"
                    IconPosition="ButtonIconPosition.AfterText" />
        @*BeginHide*@
        </div>
        @*EndHide*@
    </ChildContentWithParameters>
</DemoPageSectionComponent>
