<DemoPageSectionComponent Id="Grid-DataBinding-CustomData" ShowHorizontalScrollBar="true">
    <ChildContentWithParameters Context="Params">
        @inject NavigationManager NavigationManager
        @inject HttpClient HttpClient

        <DxGrid Data="@Data" CssClass="w-100">
            <Columns>
                <DxGridDataColumn FieldName="ProductName" />
                <DxGridDataColumn FieldName="QuantityPerUnit" />
                <DxGridDataColumn FieldName="UnitPrice" DisplayFormat="c" Width="120px" />
                <DxGridDataColumn FieldName="UnitsInStock" Width="120px" />
                <DxGridDataColumn FieldName="Discontinued" Width="90px">
                    <CellDisplayTemplate>
                        @if((bool)context.Value == true) {
                            <span class="grid-icon grid-icon-check"></span>
                        }
                    </CellDisplayTemplate>
                </DxGridDataColumn>
            </Columns>
        </DxGrid>

        @code {
            object Data { get; set; }

            protected override void OnInitialized() {
                var uri = NavigationManager.ToAbsoluteUri("api/nwind/getproducts");
                Data = new GridDevExtremeDataSource<Product>(HttpClient, uri);
            }
        }
    </ChildContentWithParameters>
</DemoPageSectionComponent>
