.components-container {
    display: flex;
}
/*BeginHide*/ ::deep /*EndHide*/ .dxbl-grid {
    height: 480px;
}
/*BeginHide*/ ::deep /*EndHide*/ dxbl-grid {
    margin-left: 20px;
}

@media (max-width: 768px) {
    .components-container {
        flex-direction: column;
    }

    /*BeginHide*/ ::deep /*EndHide*/ dxbl-grid {
        margin-left: 0;
        margin-top: 20px;
    }
}
