@page "/GridTemplate"
@using Demo.Blazor.Model
@using Demo.Blazor.Services
@inject ProductService ProductService

<div class="demo-description">
    <h2>Data Grid - Templates</h2>

    <p>This module illustrates how you can use column templates to format cell values and provide custom data editors.</p>
    <ul>
        <li>
            <p><b>Availability column</b> - DisplayTemplate formats cell values using check boxes and colored text. EditTemplate embeds a DxComboBox control into the edit form.</p>
        </li>
        <li>
            <p><b>Category column</b> - DisplayTemplate builds a composite string and displays it in plain text. EditTemplate embeds another DxDataGrid to enable lookup functionality.</p>
        </li>
    </ul>  
    <p>
        Review how values in the Availability and Category columns are formatted and try the Edit action to see the custom editors integrated into the edit form.
    </p>
</div>

@if (DataSource == null || NestedDataSource == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxDataGrid Data=@DataSource
                AllowDataRowSelection=true
                ShowFilterRow=false
                RowRemoving=@((dataItem) => OnRowRemoving(dataItem))
                RowUpdating=@((updatingDataItem, newValues) => OnRowUpdating(updatingDataItem, newValues))
                RowInserting=@((newValues) => OnRowInserting(newValues))>

        <DxDataGridCommandColumn Width="150px"></DxDataGridCommandColumn>

        <DxDataGridColumn Field=@nameof(Product.Id) Caption="Id" Width="50px">
        </DxDataGridColumn>

        <DxDataGridColumn Field=@nameof(Product.ProductName) Caption="Product Name">
        </DxDataGridColumn>

        <DxDataGridColumn Field=@nameof(Product.Availability ) Caption="Availability" Width="150px">
            <DisplayTemplate>
                @{
                    var id = Guid.NewGuid().ToString();
                    var inStock = (context as Product).Availability;
                    <input id=@id type="checkbox" checked=@inStock disabled readonly />
                    if (inStock)
                    {
                        <label class="form-check-label text-success" for=@id><span>In stock</span></label>
                    }
                    else
                    {
                        <label class="form-check-label text-danger" for=@id><span>Sold out</span></label>
                    }
                }
            </DisplayTemplate>
            <EditTemplate>
                <DxComboBox Data=@(new List<string>() { "In stock", "Sold out" })
                            SelectedItem=@(((bool)((CellEditContext)context).CellValue) ? "In stock" : "Sold out" )
                            SelectedItemChanged=@(newCellValue => ((CellEditContext)context).OnChanged(newCellValue == "In stock"))>
                </DxComboBox>
            </EditTemplate>
        </DxDataGridColumn>

        <DxDataGridColumn Field=@nameof(Product.ProductCategoryId) Caption="Category">
            <DisplayTemplate>
                @{
                    var item = NestedDataSource.Where(x => x.ProductSubcategoryID == (int)((context as Product).ProductCategoryId)).FirstOrDefault();
                    string category = item != null ? item.Category.ToString() : "none";
                    string subcategory = item != null ? item.Subcategory : "none";
                    <span>@category/@subcategory</span>
                }
            </DisplayTemplate>
            <EditTemplate>
                <DxDataGrid Data=@NestedDataSource
                            PageSize=5
                            SelectedDataRow=@(NestedDataSource.Where(x => x.ProductSubcategoryID == (int)((CellEditContext)context).CellValue).FirstOrDefault())
                            SelectedDataRowChanged=@(newCellValue => ((CellEditContext)context).OnChanged(newCellValue.ProductSubcategoryID))>
                    <DxDataGridColumn Field=@nameof(ProductCategory.ProductSubcategoryID) Width="150px"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(ProductCategory.Category) Width="150px"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(ProductCategory.Subcategory) Width="150px"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(ProductCategory.LastUpdatedDate) Width="150px"></DxDataGridColumn>
                </DxDataGrid>
            </EditTemplate>
        </DxDataGridColumn>

    </DxDataGrid>

    <CodeSnippet_GridTemplate></CodeSnippet_GridTemplate>
}

@code {
    IQueryable<Product> DataSource;
    IEnumerable<ProductCategory> NestedDataSource;

    protected override async Task OnInitAsync()
    {
        DataSource = await ProductService.Load();
        NestedDataSource = await ProductService.LoadNestedDataSource();
    }

    void OnRowRemoving(Product dataItem)
    {
        ProductService.Remove(dataItem);
    }
    void OnRowUpdating(Product dataItem, Dictionary<string, object> newValue)
    {
        ProductService.Update(dataItem, newValue);
    }
    void OnRowInserting(Dictionary<string, object> newValue)
    {
        ProductService.Insert(newValue);
    }
}
