/*BeginHide*/::deep /*EndHide*/.btn-icon-like {
    height: 16px;
    width: 16px;
    background-image: url("images/like.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-right: 8px;
}
