/*BeginHide*/
::deep /*EndHide*/ .btn-icon-undo {
    width: 16px;
    height: 16px;
    -webkit-mask-image: url("images/undo.svg");
    mask-image: url("images/undo.svg");
    margin: 0 8px 0 0;
    background-color: currentColor;
}

/*BeginHide*/
::deep /*EndHide*/ .btn-icon-redo {
    width: 16px;
    height: 16px;
    -webkit-mask-image: url("images/redo.svg");
    mask-image: url("images/redo.svg");
    margin: 0 0 0 8px;
    background-color: currentColor;
}
