@namespace BlazorDemo.Pages.CaseViews
@inherits DemoWithResizableComponent

<div class="demo-description">
    <h2><DemoNavLink Link="TextBox#Password" />Password</h2>
    <p>
        The <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxTextBox">Text Box</a> allows you to mask all characters typed into the editor.
        Set the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxTextBox.Password">Password</a> property to <b>true</b> to activate the password mode.
    </p>
</div>

<div class="card demo-card demo-card-shadow">
    <div class="card-header">
        <DemoToolbar @bind-SelectedSize="SizeMode" Title="Enter a password"/>
    </div>
    <div class="card-body mw-480">
        <DxTextBox @bind-Text="@TextValue" Password="true" SizeMode="SizeMode"></DxTextBox>
    </div>
</div>

<CodeSnippet_Editor_TextBox_Password/>

@code {
    string TextValue { get; set; } = String.Empty;
}
