@using DevExpress.Blazor

<div class="demo-description" id="HeaderCustomization">
    <h2><DemoNavLink Link="Popup#HeaderCustomization" />Popup - Header Customization</h2>
    <p>
        Use the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxPopup.HeaderTemplate">HeaderTemplate</a> property to customize the content of a pop-up window’s header.
    </p>
</div>

<div class="card demo-card demo-card-shadow">
    <div class="card-body p-0">
        <div @onclick="@(() => PopupVisible = true)">
            <div class="target-container"></div>
        </div>
        <DxPopup CssClass="custom-popup"
                 @bind-Visible="@PopupVisible">
            <HeaderTemplate>
                <div class="custom-header bg-primary text-white w-100">
                    <span class="demo-icon-info bg-white"></span>
                    Information
                    <a class="close-button oi oi-x text-white" href="javascript:;" aria-hidden="true" role="button" aria-label="Close popup" @onclick="@(() => PopupVisible = false)"></a>
                </div>
            </HeaderTemplate>
            <Content>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet metus vel nisi blandit tincidunt vel efficitur purus. Nunc nec turpis tempus, accumsan orci auctor, imperdiet mauris. Fusce id purus magna.</p>
            </Content>
        </DxPopup>
    </div>
</div>

<CodeSnippet_Popup_HeaderCustomization />

@code {
    bool PopupVisible { get; set; }
}
