/*BeginHide*/::deep/*EndHide*/.survey-wrapper {
    width: 100%;
    max-width: 180px;
}
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-group-label {
    font-size: inherit;
    font-weight: 600;
}
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-group-label.dx-demo-small {
    font-size: 0.75rem;
}
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-group-label.dx-demo-large {
    font-size: 1rem;
}
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-group {
    padding-bottom: 1rem;
}
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-group > .dx-demo-radio + .dx-demo-radio {
     padding-top: 0.5rem;
 }
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-group > .dx-demo-radio.dx-demo-radio-selected {
     font-weight: bold;
 }
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-group > .dx-demo-radio.priority-low {
     color: currentColor;
 }
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-group > .dx-demo-radio.priority-normal {
     color: var(--bs-info)
 }
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-group > .dx-demo-radio.priority-urgent {
     color: var(--bs-warning)
 }
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-group > .dx-demo-radio.priority-high {
     color: var(--bs-danger)
 }
/*BeginHide*/::deep /*EndHide*/.dx-demo-radio-selected-value {
    max-width: 180px;
    width: 100%;
}
