@using DevExpress.Blazor

<div class="demo-description" id="WeekView">
    <h2><DemoNavLink Link="SchedulerViewTypes#WeekView" />Scheduler - Week View</h2>
    <p>
        This module demonstrates how to configure the Week View (<a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxSchedulerWeekView">DxSchedulerWeekView</a>).
    </p>
</div>

<DxScheduler StartDate="@DateTime.Today"
             DataStorage="@DataStorage"
             CssClass="mw-1100">
    <DxSchedulerWeekView ShowWorkTimeOnly="true"></DxSchedulerWeekView>
</DxScheduler>

<CodeSnippet_Scheduler_WeekView></CodeSnippet_Scheduler_WeekView>

@code {
    DxSchedulerDataStorage DataStorage = new DxSchedulerDataStorage() {
        AppointmentsSource = AppointmentCollection.GetAppointments(),
        AppointmentMappings = new DxSchedulerAppointmentMappings() {
            Type = "AppointmentType",
            Start = "StartDate",
            End = "EndDate",
            Subject = "Caption",
            AllDay = "AllDay",
            Location = "Location",
            Description = "Description",
            LabelId = "Label",
            StatusId = "Status",
            RecurrenceInfo = "Recurrence"
        }
    };
}
