<div class="demo-description" id="LimitPageButtonsNumber">
    <h2><NavLink class="demo-anchor" href="Pager#LimitPageButtonsNumber" />Pager - Limit the Number of Page Buttons</h2>
    <p>
        This example sets the total number of pages to 100, but limits the number of visible buttons to 10. See how the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxPager">DxPager</a> control skips number ranges and displays ellipses instead.
    </p>
</div>

<div class="card demo-card">
    <div class="card-body">
        <DxPager PageCount="100"
                 CollapseButtonCount="10"
                 ActivePageIndex="50">
        </DxPager>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Pager_Large></CodeSnippet_Pager_Large>
    </div>
</div>