@using Demo.Blazor.Model
@using DevExpress.Blazor

<div class="demo-description" id="WeekView">
    <h2><NavLink class="demo-anchor" href="SchedulerViewTypes#WeekView" />Scheduler - Week View</h2>
    <p>
        This module demonstrates how to configure the Week View (<b>DxSchedulerWeekView</b>).
    </p>
</div>

<DxScheduler Id="schedulerWeekView"
             StartDate="@DateTime.Today"
             DataStorage="@DataStorage">

    <DxSchedulerWeekView ShowWorkTimeOnly="true"></DxSchedulerWeekView>
</DxScheduler>
<CodeSnippet_Scheduler_WeekView></CodeSnippet_Scheduler_WeekView>

@code {
    DxSchedulerDataStorage DataStorage = new DxSchedulerDataStorage() {
        AppointmentsSource = AppointmentCollection.GetAppointments(),
        AppointmentMappings = new DxSchedulerAppointmentMappings() {
            Type = "AppointmentType",
            Start = "StartDate",
            End = "EndDate",
            Subject = "Caption",
            AllDay = "AllDay",
            Location = "Location",
            Description = "Description",
            LabelId = "Label",
            StatusId = "Status",
            RecurrenceInfo = "Recurrence"
        }
    };
}
