/* Toolbar */
.tb-icon {
    width: 18px;
    height: 18px;
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
}
.tb-icon-bold {
    -webkit-mask-image: url("../images/Bold.svg");
    mask-image: url("../images/Bold.svg");
}
.tb-icon-italic {
    -webkit-mask-image: url("../images/Italic.svg");
    mask-image: url("../images/Italic.svg");
}
.tb-icon-underline {
    -webkit-mask-image: url("../images/Underline.svg");
    mask-image: url("../images/Underline.svg");
}
.tb-icon-align-left {
    -webkit-mask-image: url("../images/AlignLeft.svg");
    mask-image: url("../images/AlignLeft.svg");
}
.tb-icon-align-center {
    -webkit-mask-image: url("../images/AlignCenter.svg");
    mask-image: url("../images/AlignCenter.svg");
}
.tb-icon-align-right {
    -webkit-mask-image: url("../images/AlignRight.svg");
    mask-image: url("../images/AlignRight.svg");
}
.tb-icon-undo {
    -webkit-mask-image: url("../images/undo.svg");
    mask-image: url("../images/undo.svg");
}
.tb-icon-redo {
    -webkit-mask-image: url("../images/redo.svg");
    mask-image: url("../images/redo.svg");
}
.tb-icon-info {
    width: 18px;
    height: 18px;
    mask-image: url("../images/Info.svg");
    -webkit-mask-image: url("../images/Info.svg");
}
.tb-icon-settings {
    width: 16px;
    height: 16px;
    mask-image: url("../images/Settings.svg");
    -webkit-mask-image: url("../images/Settings.svg");
}
.tb-icon-refresh {
    width: 16px;
    height: 16px;
    mask-image: url("../images/Refresh.svg");
    -webkit-mask-image: url("../images/Refresh.svg");
}
.tb-icon-search {
    width: 24px;
    height: 24px;
    mask-image: url("../images/Search.svg");
    -webkit-mask-image: url("../images/Search.svg");
}
.tb-icon-alert {
    width: 16px;
    height: 16px;
    mask-image: url("../images/Alert.svg");
    -webkit-mask-image: url("../images/Alert.svg");
}

body.modal-open .main {
    -webkit-overflow-scrolling: auto;
}

/* GridLayout/StackLayout */
.gridlayout-item,
.stacklayout-item {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    height: 100%;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridlayout-item:before,
.stacklayout-item:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
}

.gridlayout-header:before,
.stacklayout-header:before {
    background-color: var(--bs-red);
}

.gridlayout-content:before,
.stacklayout-content:before {
    background-color: var(--bs-yellow);
}

.gridlayout-left-side-bar:before,
.stacklayout-left-side-bar:before {
    background-color: var(--bs-green);
}

.gridlayout-right-side-bar:before,
.stacklayout-right-side-bar:before {
    background-color: var(--bs-info);
}

.gridlayout-footer:before,
.stacklayout-footer:before {
    background-color: var(--bs-blue);
    opacity: 0.5;
}

@media (max-width: 575.98px) {
    .gridlayout-item,
    .stacklayout-item {
        font-size: 0.9em;
    }
}

/* Scheduler */
.demo-sc-apt {
    height: 100%;
}
.demo-sc-apt-content {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-color: inherit;
    display: inherit;
}
.demo-sc-apt.demo-sc-accepted .demo-sc-apt-content {
    border: none;
}
.demo-sc-h-apt:not(.demo-sc-accepted),
.demo-sc-apt:not(.demo-sc-accepted) .demo-sc-apt-content {
    color: black !important;
    font-size: .925em;
    font-weight: 600;
}
.demo-apt-subject {
    padding: 0.2em 0.5em 0.2em 0.9em;
}

.demo-sc-apt:not(.demo-sc-accepted) .demo-apt-bg {
    background-color: white;
}
.demo-apt-bg {
    opacity: 0.7;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.dxbs-sc-apt.dxbs-apt-selected .demo-apt-bg {
    opacity: 1;
}
.dxbs-apt-hovered .demo-apt-bg {
    opacity: 0.7;
}
.demo-sc-status-container {
    position: relative;
    border-width: 0;
    margin-right: -0.4em;
    height: 100%;
    background-color: var(--bs-white);
    box-sizing: border-box;
    width: 0.5em;
    height: 100%;
    float: left;
}
.demo-sc-status-container:after {
    content: " ";
    position: absolute;
    left: -1px;
    top: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid white;
    opacity: 0.4;
    border-radius: inherit;
}
.demo-sc-apt:not(.demo-sc-accepted) .demo-sc-status-container::after {
    background-image: linear-gradient(-45deg,var(--bs-white) 19%,transparent 0,transparent 50%,var(--bs-white) 0,var(--bs-white) 69%,transparent 0,transparent);
    background-size: 8px 8px;
    opacity: 0.9;
}
.demo-sc-status-container .demo-apt-status {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    top: 0%;
    height: 100%;
}

.demo-sc-docked {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.demo-resnavigator {
    display: flex;
}
.demo-resnavigator-icon {
    -webkit-mask: url("../images/SchedulerResNavigator.svg");
    mask: url("../images/SchedulerResNavigator.svg");
    width: 1.5em;
    height: 1.5em;
    background-color: currentColor;
}
.demo-resnavigator-container {
    flex-shrink: 0;
    padding-left: 0;
    padding-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    background-color: rgba(0, 0, 0, 0.03);
}
.demo-resnavigator-container .card-body {
    padding-left: 3px;
    padding-right: 3px;
}
.demo-resnavigator-container .demo-resnavigator-tree {
    width: 233px;
    padding-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
}
.demo-resnavigator-container .demo-resnavigator-item {
    padding: 0.375rem 10px 0.375rem 5px;
}
.demo-resnavigator-container .demo-resnavigator-item,
.demo-resnavigator-container .demo-resnavigator-item * {
    cursor: pointer;
}
.demo-resnavigator-title {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}
.demo-resnavigator-sc-container {
    flex-grow: 1;
}

.dx-icon-time {
    display: inline-block;
    vertical-align: bottom;
    background-color: currentColor;
    -webkit-mask: url("../images/Time.svg");
    mask: url("../images/Time.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 11px;
    width: 11px;
    mask-size: 11px;
    -webkit-mask-size: 11px;
    margin: 0 4px -1px 0;
}

.dx-icon-accepted {
    background-color: currentColor;
    -webkit-mask: url("../images/accept.svg");
    mask: url("../images/accept.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 16px;
    width: 16px;
    mask-size: 16px;
    -webkit-mask-size: 16px;
    margin: 0 8px 0 0;
}

.dx-icon-tentative {
    background-color: currentColor;
    -webkit-mask: url("../images/quest.svg");
    mask: url("../images/accept.svg");
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 16px;
    width: 16px;
    mask-size: 16px;
    -webkit-mask-size: 16px;
    margin: 0 8px 0 0;
}

.dx-icon-toolbar {
    background-color: currentColor;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 18px;
    width: 18px;
    mask-size: 18px;
    margin: 5px 5px 5px 5px;
    -webkit-mask-size: 18px;
}

.icon-edit {
    -webkit-mask: url("../images/SchedulerEdit.svg");
    mask: url("../images/SchedulerEdit.svg");
}

.icon-add {
    -webkit-mask: url("../images/SchedulerAdd.svg");
    mask: url("../images/SchedulerAdd.svg");
}

.icon-delete {
    -webkit-mask: url("../images/SchedulerDelete.svg");
    mask: url("../images/SchedulerDelete.svg");
}

/* Menu, ContextMenu, Overview */
.menu-icon {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
}

.menu-icon-large {
    width: 5rem;
    height: 5rem;
}

.menu-icon-home {
    mask-image: url("../images/Home.svg");
    -webkit-mask-image: url("../images/Home.svg");
}

.menu-icon-support {
    mask-image: url("../images/Support.svg");
    -webkit-mask-image: url("../images/Support.svg");
}

.menu-icon-products {
    mask-image: url("../images/Products.svg");
    -webkit-mask-image: url("../images/Products.svg");
}

.menu-icon-contacts {
    mask-image: url("../images/Contacts.svg");
    -webkit-mask-image: url("../images/Contacts.svg");
}

.menu-icon-about {
    mask-image: url("../images/About.svg");
    -webkit-mask-image: url("../images/About.svg");
}

.menu-icon-sort-by {
    mask-image: url("../images/Sort_by.svg");
    -webkit-mask-image: url("../images/Sort_by.svg");
}

.menu-icon-copy {
    mask-image: url("../images/Copy.svg");
    -webkit-mask-image: url("../images/Copy.svg");
}

.menu-icon-cut {
    mask-image: url("../images/Cut.svg");
    -webkit-mask-image: url("../images/Cut.svg");
}

.menu-icon-clear {
    mask-image: url("../images/Clear.svg");
    -webkit-mask-image: url("../images/Clear.svg");
}

.menu-icon-user-profile {
    mask-image: url("../images/UserProfile.svg");
    -webkit-mask-image: url("../images/UserProfile.svg");
}

.menu-box {
    width: 280px !important;
    height: 220px;
}

.icon-logo {
    display: flex;
    height: 20px;
    width: 120px;
    background-color: currentColor;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-image: url("../images/Logo-Monochrome.svg");
    -webkit-mask-image: url("../images/Logo-Monochrome.svg");
}

/*Chart*/
.chart-icon {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
}

.chart-icon-calendar {
    -webkit-mask-image: url("../images/Calendar.svg");
    mask-image: url("../images/Calendar.svg");
}
.component-container .chart-container .dx-blazor-widget {
    width: 400px;
}

.component-container .chart-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 0;
}

.chart-icon-export {
    -webkit-mask-image: url("../images/ExportTo.svg");
    mask-image: url("../images/ExportTo.svg");
}
.chart-icon-export-to-png {
    -webkit-mask-image: url("../images/ExportToPng.svg");
    mask-image: url("../images/ExportToPng.svg");
}
.chart-icon-export-to-jpeg {
    -webkit-mask-image: url("../images/ExportToJpeg.svg");
    mask-image: url("../images/ExportToJpeg.svg");
}
.chart-icon-export-to-pdf {
    -webkit-mask-image: url("../images/ExportToPdf.svg");
    mask-image: url("../images/ExportToPdf.svg");
}
.chart-export-menu > dxbl-menu-item > a {
    padding: 8px;
}
.chart-export-menu > dxbl-menu-item > a:hover:before {
    border-radius: 3px;
}


@media (max-width: 899.98px) {
    .component-container .chart-container .dx-blazor-widget {
        width: 100%;
    }
}
/*Grid*/
.grid-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
}

.grid-icon-check {
    mask-image: url("../images/check.svg");
    -webkit-mask-image: url("../images/check.svg");
}

.grid-btn-link {
    border: 0;
    display: inline;
    font: inherit;
    line-height: 100%;
    padding: 0;
    text-decoration: underline;
    vertical-align: baseline;
}

.theme-solar .dxbs-grid-table,
.theme-solar .dxbs-grid-table a,
.theme-solar .dxbs-grid-table .btn-link {
    color: #eeeeee;
}

/* Tabs */
.demo-employee-card h5 {
    font-size: 1rem;
    margin-top: 8px;
}

.demo-employee-card b {
    font-weight: 600;
}

/* Popup, Flyout*/
.popup-icon-user {
    -webkit-mask-image: url("../images/PopupUser.svg");
    mask-image: url("../images/PopupUser.svg");
}

.popup-icon-birthday {
    -webkit-mask-image: url("../images/PopupBirthday.svg");
    mask-image: url("../images/PopupBirthday.svg");
}

.popup-icon-worked {
    -webkit-mask-image: url("../images/PopupWorked.svg");
    mask-image: url("../images/PopupWorked.svg");
}

.popup-icon-position {
    -webkit-mask-image: url("../images/PopupPosition.svg");
    mask-image: url("../images/PopupPosition.svg");
}

.popup-icon-user,
.popup-icon-birthday,
.popup-icon-worked,
.popup-icon-position {
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
    opacity: 0.75;
    width: 18px;
    height: 18px;
}
