<DxTreeView @ref=@treeView CssClass="app-sidebar" ExpandButtonIconCssClass="demo-icon-expand" CollapseButtonIconCssClass="demo-icon-collapse"
            AllowSelectNodes="true" ExpandedChanging=@ExpandedChanging SelectionChanged=@SelectionChanged>
    <Nodes>
        <DxTreeViewNode Text="Overview" NavigateUrl="">
        </DxTreeViewNode>
        <DxTreeViewNode Text="Grid">
            <Nodes>
                <DxTreeViewNode Text="Column Types" NavigateUrl="GridColumnTypes"></DxTreeViewNode>
                <DxTreeViewNode Text="Templates" NavigateUrl="GridTemplate"></DxTreeViewNode>
                <DxTreeViewNode Text="Cascading Editors" NavigateUrl="GridCascadingEditors"></DxTreeViewNode>
                <DxTreeViewNode Text="Edit Form Validation" NavigateUrl="GridEditFormTemplateValidation"></DxTreeViewNode>
                <DxTreeViewNode Text="Large Data Source" NavigateUrl="GridLargeDataBase"></DxTreeViewNode>
            </Nodes>
        </DxTreeViewNode>
        <DxTreeViewNode Text="Pivot Grid">
            <Nodes>
                <DxTreeViewNode Text="Overview" NavigateUrl="PivotGrid"></DxTreeViewNode>
                <DxTreeViewNode Text="Templates" NavigateUrl="PivotGridTemplates"></DxTreeViewNode>
                <DxTreeViewNode Text="Large Data Source" NavigateUrl="PivotGridLargeDataBase"></DxTreeViewNode>
            </Nodes>
        </DxTreeViewNode>
        <DxTreeViewNode Text="Editors" BadgeText="Upd">
            <Nodes>
                <DxTreeViewNode Text="Combo Box" NavigateUrl="ComboBox" BadgeText="Upd">
                </DxTreeViewNode>
                <DxTreeViewNode Text="Spin Edit" NavigateUrl="SpinEdit">
                </DxTreeViewNode>
                <DxTreeViewNode Text="Date Edit" NavigateUrl="DateEdit">
                </DxTreeViewNode>
                <DxTreeViewNode Text="Text Box" NavigateUrl="TextBox">
                </DxTreeViewNode>
            </Nodes>
        </DxTreeViewNode>
        <DxTreeViewNode Text="Form Layout" NavigateUrl="FormLayout">
        </DxTreeViewNode>
        <DxTreeViewNode Text="Form Validation" NavigateUrl="FormValidation">
        </DxTreeViewNode>
        <DxTreeViewNode Text="Tree View" NavigateUrl="TreeView" BadgeText="New">
        </DxTreeViewNode>
        <DxTreeViewNode Text="Tabs" NavigateUrl="Tabs">
        </DxTreeViewNode>
        <DxTreeViewNode Text="Pager" NavigateUrl="Pager">
        </DxTreeViewNode>
    </Nodes>
</DxTreeView>

<div class="footer">
    <div class="info-wrapper">
        <div class="version">Version: Preview</div>
        <div class="copyright">
            <span>Copyright &copy; 2006-</span><span>@(DateTime.Now.Year.ToString())</span>
            Developer Express Inc
        </div>
    </div>
</div>

@code {
    DxTreeView treeView;

    protected void SelectionChanged(TreeViewNodeEventArgs e) {
        if(e.NodeInfo.IsLeaf && e.NodeInfo.Level == 0) {
            treeView.CollapseAll();
        }
        else if(!e.NodeInfo.IsLeaf) {
            Func<ITreeViewNodeInfo, bool> nodePredicate = n => string.Equals(n.Text, e.NodeInfo.Text);

            bool nodeExpanded = treeView.GetNodeExpanded(nodePredicate);
            if(!nodeExpanded)
                treeView.CollapseAll();
            treeView.SetNodeExpanded(nodePredicate, !nodeExpanded);
        }
    }

    protected void ExpandedChanging(TreeViewNodeCancelEventArgs e) {
        e.Cancel = true;
    }
}