
    <ul class="nav flex-column app-sidebar">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img class="demo-icon" src="images/Overview.svg" alt="Overview" aria-hidden="true"><span>Overview</span>
                <badge_upd />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GridColumnTypes">
                <img class="demo-icon" src="images/GridColumnType.svg" alt="Grid - Column Types" aria-hidden="true"><span>Grid - Column Types</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GridTemplate">
                <img class="demo-icon" src="images/GridTemplates.svg" alt="Grid - Column Types" aria-hidden="true"><span>Grid - Templates</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="GridLargeDataBase">
                <img class="demo-icon" src="images/GridLargeData.svg" alt="Grid - Large Data" aria-hidden="true"><span>Grid - Large Data Source</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PivotGrid">
                <img class="demo-icon" src="images/PivotGrid.svg" alt="Pivot Grid" aria-hidden="true"><span>Pivot Grid</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PivotGridTemplates">
                <img class="demo-icon" src="images/PivotGridTemplate.svg" alt="Pivot Grid - Templates" aria-hidden="true"><span>Pivot Grid - Templates</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PivotGridLargeDataBase">
                <img class="demo-icon" src="images/PivotGridLargeData.svg" alt="Pivot Grid - Large Data" aria-hidden="true"><span>Pivot Grid - Large Data Source</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FormLayout">
                <img class="demo-icon" src="images/FormLayout.svg" alt="Forms" aria-hidden="true"><span>Form Layout</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FormValidation">
                <img class="demo-icon" src="images/GridColumnType.svg" alt="Grid - Column Types" aria-hidden="true"><span>Form Validation</span>
                <badge_new />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tabs">
                <img class="demo-icon" src="images/Tabs.svg" alt="Tabs" aria-hidden="true"><span>Tabs</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Editors">
                <img class="demo-icon" src="images/Editors.svg" alt="Editors" aria-hidden="true"><span>Editors</span>
                <badge_upd />
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Pager">
                <img class="demo-icon" src="images/Pager.svg" alt="Pager" aria-hidden="true"><span>Pager</span>
            </NavLink>
        </li>
    </ul>

<div class="footer">
    <div class="info-wrapper">
        <div class="version">Version: Preview</div>
        <div class="copyright">
            <span>Copyright &copy; 2006-</span><span>@(DateTime.Now.Year.ToString())</span>
            Developer Express Inc
        </div>
    </div>
</div>
