@page "/"
@using BlazorDemo.Configuration
@namespace BlazorDemo.ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject BlazorDemo.Services.DemoThemeService Themes
@inject DemoConfiguration DemoConfiguration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta data-dxmetadatamanager />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="@Url.Content("~/")" />

    <meta property="og:url" content="https://dxpr.es/2WogLq7" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Native Blazor Components powered by DevExpress" />
    <meta property="og:description" content="DevExpress UI for Blazor ships with native user interface components (including a Data Grid, Pivot Grid, Charts and Scheduler) so you can design rich user experiences with both Blazor." />
    <meta property="og:image" content="https://static.devexpress.com/Products/Blazor/blazor-components-grid-pivot-scheduler-charts-editor-devexpress.jpg" />

    <environment include="ServerSide">
        <component type="typeof(BlazorDemo.Shared.DemoStylesheetContainer)" render-mode="ServerPrerendered" />
        <script src="_framework/blazor.server.js" defer></script>
    </environment>
    <environment include="Wasm.AspNetCoreHosted">
        <component type="typeof(BlazorDemo.Shared.DemoStylesheetContainer)" render-mode="WebAssemblyPrerendered" />
        <script src="_framework/blazor.webassembly.js" defer></script>
    </environment>
    <environment include="Wasm.AspNetCoreHosted">
        <style>
            body {
                margin: 0;
            }

            .loading-font {
                font-family: "Segoe UI",Roboto,"Helvetica Neue","-apple-system",BlinkMacSystemFont,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
                font-size: .88rem;
                font-weight: 400;
                line-height: 1.5;
                text-align: left;
            }

            .loading-items-center {
                align-items: center;
                justify-content: center;
                display: flex;
            }

            .loading-border-primary {
                border-color: #bfbfbf;
            }

            .loading {
                width: 140px;
                height: 140px;
            }

            .loading-caption {
                font-size: 1.5rem;
                font-weight: 600;
            }

            .loading-border {
                border-width: 4px;
                border-style: solid;
            }

            .loading-image-wrapper {
                width: 120px;
                height: 120px;
                opacity: 0;
            }
        </style>
    </environment>
</head>
<body>
    @{
        var isIEOrEdgeLegacy = Request.Headers["User-Agent"].Any(userAgent => userAgent.Contains("MSIE") || userAgent.Contains("Trident"));
    }
    @if (isIEOrEdgeLegacy) {
        <component type="typeof(BlazorDemo.Shared.BrowserNotSupported)" render-mode="Static" />
    }
    else {
        <div id="app">
            <environment include="ServerSide">
                <component type="typeof(BlazorDemo.App)" render-mode="ServerPrerendered" />
            </environment>
            <environment include="Wasm.AspNetCoreHosted">
                <div id="applicationLoadingPanel" class="loading-items-center loading-font" style="height: 100vh; width: 100vw; background-color: #fff;">
                    <div class="loading-items-center" style="flex-direction: column">
                        <div class="loading position-relative loading-items-center" style="position: relative">
                            <div class="loading-border border-secondary" style="position: absolute; border-color: #d9d9d9; height: 100%; width: 100%; border-radius: 50%"></div>
                            <div class="spinner-border loading-boarder border-primary loading-border-primary" style="position: absolute; height: 100%; width: 100%; border-radius: 50%; border-left-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important"></div>
                            <div id="loadingBackground" class="loading-image-wrapper text-white bg-primary loading-items-center" style="color: #fff; border-radius: 50%"></div>
                        </div>
                        <div class="loading-caption mt-3">DevExpress UI for Blazor</div>
                        <div class="loading-sm-text text-muted mt-1" style="color: #a1a1a1">Loading...</div>
                    </div>
                </div>
            </environment>
        </div>
    }
</body>
</html>
