@page "/PivotGrid"
@using Demo.Blazor.Model
@using DevExpress.Blazor.PivotGrid

<div class="demo-description">
    <h2>Pivot Grid</h2>
    <p>
        The Pivot Grid component summarizes data from the underlying data source and presents the results in cross-tabulated format. This demo allows you to browse sales data - number of sales and their amount - summarized against geographical regions and time intervals.
    </p>
    <p>
        Note how the following Pivot Grid Fields are set up:
    </p>
    <ul>
        <li>
            <b>Count</b>
            <p>Bound to the OrderId field and uses the Count summary function to display the number of transactions.</p>
        </li>
        <li>
            <b>Amount</b>
            <p>Bound to the Amount field and uses the Sum function. (You can also use Min, Max, and Average in addition to the two functions already mentioned.)</p>
        </li>
        <li>
            <b>Year, Quarter</b>
            <p>Both are bound to the same underlying data field, but use different GroupInterval values thus building a hierarchy of years and quarters.</p>
        </li>
    </ul>
    <p>
        Try expanding row/column values to reveal a more detailed view or collapsing them to return to the overall picture, respectively. Click headers, such as Region or Year, to change the order of values. Note the automatically calculated section sub-totals and grand totals.  
    </p>
</div>

@if(GridData == null) {
    <p><em>Loading...</em></p>
} else {
    <DxPivotGrid Data=@GridData>
        <DxPivotGridField Field=@nameof(SaleInfo.Region) SortOrder=@SortOrder.Asc Area=@PivotGridFieldArea.Row></DxPivotGridField>
        <DxPivotGridField Field=@nameof(SaleInfo.Country) Area=@PivotGridFieldArea.Row></DxPivotGridField>
        <DxPivotGridField Field=@nameof(SaleInfo.City) Area=@PivotGridFieldArea.Row></DxPivotGridField>
        <DxPivotGridField Field=@nameof(SaleInfo.Date) GroupInterval=@PivotGridGroupInterval.Year Area=@PivotGridFieldArea.Column Caption="Year"></DxPivotGridField>
        <DxPivotGridField Field=@nameof(SaleInfo.Date) GroupInterval=@PivotGridGroupInterval.Quarter Area=@PivotGridFieldArea.Column Caption="Quarter">
            <HeaderTemplate>@string.Format("Q{0}", context)</HeaderTemplate>
        </DxPivotGridField>
        <DxPivotGridField Field=@nameof(SaleInfo.Amount) Area=@PivotGridFieldArea.Data SummaryType=@PivotGridSummaryType.Sum></DxPivotGridField>
        <DxPivotGridField Field=@nameof(SaleInfo.OrderId) Caption="Count" Area=@PivotGridFieldArea.Data SummaryType=@PivotGridSummaryType.Count></DxPivotGridField>
    </DxPivotGrid>
    <CodeSnippet_Pivot></CodeSnippet_Pivot>
}

@code {
    IQueryable<SaleInfo> GridData;

    protected override async Task OnInitAsync() {
        GridData = await Sales.Load();
    }
}
