::deep .btn-column-chooser {
    width: 16px;
    height: 16px;
    -webkit-mask-image: url("images/icons/column-chooser.svg");
    mask-image: url("images/icons/column-chooser.svg");
    background-color: currentColor;
}
