<div class="demo-description" id="NullableValue">
    <h2>
        Spin Edit - Nullable Value<span class="demo-badge badge badge-success">Upd</span>
    </h2>
    <p>
        Do any of the following to clear the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.DxSpinEdit-1">DxSpinEdit</a> (set its value to null):
    </p>
    <ul>
        <li>
            Delete the value in the editor.
        </li>
        <li>
            Click the <b>Clear</b> button. This button is displayed when you set the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxSpinEditBase-1.ClearButtonDisplayMode">ClearButtonDisplayMode</a> property to <b>Auto</b>.
        </li>
    </ul>
    <p>
        Use the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxSpinEdit-1.NullText">NullText</a> property to display placeholder text in the DxSpinEdit when its value is null.
    </p>
</div>

<div class="card demo-card">
    <div class="card-header">SpinEdit decimal value is: <b>@(DecimalValue != null ? DecimalValue.ToString() : "null")</b></div>
    <div class="card-body mw-480">
        <DxSpinEdit @bind-Value="@DecimalValue"
                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" NullText="Type a value..."></DxSpinEdit>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Editor_SpinEdit_NullableValue></CodeSnippet_Editor_SpinEdit_NullableValue>
    </div>
</div>

@code {
    Decimal? decimalValue = decimal.MaxValue - 10000;
    Decimal? DecimalValue { get => decimalValue; set { decimalValue = value; InvokeAsync(StateHasChanged); } }
}