@using Demo.Blazor.Model
@using DevExpress.Blazor

<div class="demo-description" id="DisplayFooter">
    <h2><DemoNavLink Link="Popup#DisplayFooter" />Popup - Display Footer</h2>
    <p>
        Use the <a class="helplink" target="_blank" href="https://docs.devexpress.com/Blazor/DevExpress.Blazor.Base.DxPopupBase.FooterTemplate">FooterTemplate</a> property to specify the content of a pop-up window's footer.
    </p>
</div>

<div class="card border-0">
    <div class="card-body">
        <div class="target-container" @onclick="@(() => PopupVisible = true)"></div>
            <DxPopup HeaderText="Header" 
                     @bind-Visible="@PopupVisible">
                <Content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet metus vel nisi blandit tincidunt vel efficitur purus. Nunc nec turpis tempus, accumsan orci auctor, imperdiet mauris. Fusce id purus magna.</p>
                </Content>
                <FooterTemplate>
                    <button class="btn btn-primary" @onclick="@(() => PopupVisible = false)">OK</button>
                </FooterTemplate>
            </DxPopup>
    </div>
</div>

<div class="code-snippet card demo-card-wide">
    <CodeSnippetHeader></CodeSnippetHeader>
    <div class="card-footer text-muted ">
        <CodeSnippet_Popup_FooterCustomization />
    </div>
</div>

@code {
    bool PopupVisible { get; set; }
}
