@using Demo.Blazor.Model

<div class="demo-description">
    <h2>
        TreeView - Binding to Hierarchical Data<span class="badge badge-success demo-badge">New</span>
    </h2>
    <p>The DevExpress TreeView supports binding to hierarchical data structures. A bound TreeView creates a node for each data item.</p>
    <p>The following properties should be specified to bind TreeView to a hierarchical data structure:</p>
    <ul>
        <li><b>Data</b> - A TreeView data source object.</li>
        <li><b>ChildrenExpression</b> - A lambda expression that returns the data item’s children.</li>
    </ul>
    <p>The following properties specify expressions that return node information (text, name, and etc.):</p>
    <ul>
        <li><b>TextExpression</b> - A lambda expression that returns the node’s text.</li>
        <li><b>NameExpression</b> - A lambda expression that returns the node’s unique identifier (name).</li>
        <li><b>IconCssClassExpression</b> - A lambda expression that returns the name of a CSS class applied to the node’s icon.</li>
        <li><b>NavigateUrlExpression</b> - A lambda expression that returns the node’s target URL.</li>
    </ul>
</div>
<div class="card demo-card">
    <div class="card-body">
        <h5 class="card-title">Chemical elements</h5>
        <DxTreeView CssClass="mw-480" Data=@ChemicalElements.Groups ExpandButtonIconCssClass="oi oi-chevron-right" CollapseButtonIconCssClass="oi oi-chevron-bottom"
            TextExpression=@(dataItem => ((ChemicalElementGroup)dataItem).Name) 
            ChildrenExpression=@(dataItem => ((ChemicalElementGroup)dataItem).Groups)>
        </DxTreeView>
    </div>
</div>
<CodeSnippet_TreeView_HierarchicalDataBinding></CodeSnippet_TreeView_HierarchicalDataBinding>
